.cases {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
}

.case_wrapper {
    position: relative;
    padding: 0.83em;
    width: 50%;
    height: 520px;
    height: calc(100vw / 3.7);
    overflow: hidden;

    font-size: 72px;
    background-color: $dark_color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    max-height: 800px;
    -webkit-tap-highlight-color: transparent;
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.15);
    }

    & * {
        color: $ligh_color;
    }
    & h2, h3, h4, h5, p, div {
        font-family: "Bebas Neue";
    }
    &:hover .case-hidden {
        top: 0;
        @media (max-width: $phone), (max-height: $phone) {
            top:100%;
        }
    }
    &.active .case-hidden { 
        @media (max-width: $phone), (max-height: $phone) {
            top:0;
        }
    }
    &:hover .case {
        transform: translateY(-200%);
        opacity: 0;
        @media (max-width: $phone), (max-height: $phone) {
            transform: initial;
            opacity: initial;
        }
    }
    &.active .case { 
        @media (max-width: $phone), (max-height: $phone) {
            transform: translateY(-200%);
            opacity: 0;
        }
    }
    &:hover {
        & .case-hidden h4, .case-hidden h5, .case-hidden p, .case-plus_wrapper {
            transform: translate3d(0,0,0);
            opacity: 1;
            @media (max-width: $phone), (max-height: $phone) {
                transform: initial;
                opacity: initial;
            }
        }
    }
    &.active { 
        & .case-hidden h4, .case-hidden h5, .case-hidden p, .case-plus_wrapper {
            @media (max-width: $phone), (max-height: $phone) {
                transform: translate3d(0,0,0);
                opacity: 1;
            }
        }
    }

    @media (max-width: 1500px) {
        height: calc(100vw / 3.3);
        font-size: 60px;
    }
    @media (max-width: $pc-big) {
        padding: 0.63em;
    }
    @media (max-width: $pc) {
        height: calc(100vw / 3); 
    }
    @media (max-width: $tablet) {
        width: 100%;
        height: calc(100vw / 2);
        font-size: 72px;
    }
    @media (max-width: $small_tablet) { 
        font-size: 62px;
    }
    @media (max-width: $phone) and (orientation: portrait){
        padding: 0.53em  0.23em;
        width: 100%;
        min-height: 250px;
        max-height: 350px;
        height: calc(100vw / 1.17);
        //height: calc(100vh/ 2.5);

        font-size: 54px;
    }
    @media (max-height: $phone) and (orientation: landscape){
        padding: 0.53em  0.23em;
        width: 50%;
        height: calc(100vw / 2.9);
        //height: calc(100vh/ 1.3);

        font-size: 54px;
    }
}

.section-title_space-bottom {
    padding-bottom: 50px;
    @media (max-width: $phone), (max-height: $phone) {
        padding-bottom: 35px;
    }
}

.case {
    position: relative;
    z-index: 1;
    transition: $transition;
    & h2, p, div {
        font-family: "Bebas Neue";
    }
}

.case-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.case-hidden {
    position: absolute;
    display: block;
    padding: 0.83em;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $middle_color;
    transition: $transition;
    z-index: 2;
    @media (max-width: $pc-big) {
        padding: 0.63em;
    }
    @media (max-width: $phone) {
        padding: 0.53em  0.23em; 
    }
    @media (max-height: $phone) and (orientation: landscape){
        padding: 0.53em  0.23em; 
    }
    & h4, h5, p, .case-plus_wrapper{
        opacity: 0;
    }
    & h4{
        transform: translate3d(0,50px,0);
        transition: $transition;
        transition-delay: 0.1s;
    }
    & h5{
        transform: translate3d(0,50px,0);
        transition: 0.6s;
        transition-delay: 0.3s;
    }
    & p{
        transform: translate3d(0,50px,0);
        transition: 0.7s;
        transition-delay: 0.3s;
    }
    & .case-plus_wrapper {
        transform: translate3d(0,50px,0);
        transition: 0.8s;
        transition-delay: 0.4s;
    }
}

.case h4, .case-hidden h4 {
    font-size: 1em;
    max-height: 1em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    @media (max-width: $pc-big) {
        font-size: 0.8em;
    }
    @media (max-width: $small_tablet) {
        font-size: 0.6em;
    }
}

.case h5, .case-hidden h5 {
    margin-top: 2.8%;

    font-size: 0.5em;
    max-height: 2em;  
    overflow: hidden;
    text-overflow: ellipsis; 
    @media (max-width: $small_tablet) {
        font-size: 0.4em;
    }
}

.case p, .case-hidden p {
    margin-top: 2.8%;

    font-size: 0.28em;
    line-height: 1.14em;
    max-height: 5.6em; 
    overflow: hidden;
    @media (max-width: $phone) { 
        max-height: 5.5em; 
    }
}

.case-plus_wrapper {
    display: flex; 
    align-items: center;
    margin-top: 5%;
    
    font-size: 0.3em;
    @media (max-width: 1570px) {
        margin-top: 3%;
    }
    @media (max-width: $small_tablet) {
        margin-top: 2%;
    }
    @media (max-width: $phone) { 
    }
    & img.case-plus {
        display: block;
        width: 100%;
        height: auto;
        width: 30px; 
        @media (max-width: $small_tablet) {
            width: 25px;
        }
        @media (max-width: $phone) { 
            width: 20px;
        }
    }
}

.case-plus_detail {
    display: none; 
    @media (max-width: $phone) { 
        display: block;
        text-decoration: none;
        margin-left: 10px;
    }
}