.footer {
    padding-top: 60px;
    padding-bottom: 70px;
    & * {
        font-family: "Bebas Neue"; 
        font-weight: bold;
        color: $ligh_color;
    }
    @media (max-width: $pc_big),  (max-height: $small_tablet){
        padding-top: 40px;
        padding-bottom: 50px;
    }
    /*@media (max-width: $small_tablet),  (max-height: $small_tablet){
        padding-top: 40px;
        padding-bottom: 50px;
    } */
    @media (max-width: $phone),  (max-height: $phone){
        padding-top: 30px;
        padding-bottom: 40px;
    }
    @media (max-height: $phone) and (orientation: landscape){
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    font-size: 16px;
}

.footer-social {
    & .socials-link {
        @media (max-width: $phone), (max-height: $phone) {
            margin-left: 15px;
            max-height: 12px; 
        }
        & img {
            display: block;
            height: 100%;
        }
    }
}

#tel {
    width: 100%;
}

.socials-link {
    -webkit-tap-highlight-color: transparent;
}