.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;

    font-size: 24px;
    z-index: 5;
    transition: 0.2s, -webkit-filter 1s;
    transition: 0.2s, filter 1s;
    transition: 0.2s, filter 1s, -webkit-filter 1s;
    @media (max-height: 635px){ 
        font-size: 22px;
    }
    @media (max-height: $phone) {
        font-size: 18px;
    }
    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        background-color: $dark_color;
        transition: 0.2s;
        z-index: -1;
    }
    &.active {
        &::before {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
        }
        & .header_logo { 
            transition: $transition; 
        }
    }
    & a, button, span, li {
        font-family: "Bebas Neue"; 
        font-weight: bold;
        color: $ligh_color;
        text-decoration: none;
    }
}

a {
    @include link_hover;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo-wrapper{
    padding-top: 17px;
    @media (max-width: $phone), (max-height: $phone) {
        padding-top: 8px; 
    }
}

.header_logo {
    display: block;
    max-width: 24px;
    max-height: 32px;
    transition: $transition;
    @media (max-width: $phone), (max-height: $phone) {
        max-height: 27px;
        height: 27px;
    }
}

.header-logo-img {
    display: block;
    height: 100%;
    width: auto;
    max-width: 24px;
    max-height: 32px;
    transition: $transition;
    @media (max-width: $phone), (max-height: $phone) {
        max-height: 27px;
        height: 27px;
    }
}

.navigation {
    z-index: 25;
}

.navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 17px;
    margin-right: 22px;
    transition: $transition;
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 5px;
        margin-right: 16px; 
        font-size: 18px; 
    }
}

.header.active .navigation__contacts {
    margin-top: 8px;
    transition: $transition;
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 5px;
        margin-right: 16px; 
        font-size: 18px; 
    }
}

.navigation__email {
    margin-top: 6px;
    font-size: 0.75em;
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 0; 
        font-size: 14px;
    }
}
.header.active .navigation__email {
    font-size: 0.65em;
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 0; 
        font-size: 14px;
    }
}
.header.active .navigation__phone {
     font-size: 0.9em;
     @media (max-width: $phone), (max-height: $phone) {
         font-size: 1em;
     }
 }

.navigation.active .navigation__contacts {
    & .navigation__phone, .navigation__email {
        display: none;
        opacity: 0;
    }
}

.burger-button {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: $burger_size;
    height: $burger_size;
    padding: 0.5em;

    background: $middle_color;
    border-radius: 1px;
    border: none;
    outline: none;
    transition: height 0.4s, width 0.4s, background-color 0s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    @media (max-width: $phone), (max-height: $phone) {
        width: 36px;
        height: 36px;
        padding: 0.3em;
    }
    &::after{
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        display: block;
        height: 100%;
        width: 0;
        transition: $transition;
        background-color:  rgba(245, 67, 81, 1);
        z-index: 0;
    }
    &:hover::after{
        width: 100%;
    }
}

.navigation.active .burger-button {
    &::after{
        display: none; 
    } 
}

.header.active .burger-button {
    width: calc( #{$burger_size} - 10px);
    height: calc( #{$burger_size} - 10px);
    transition: height 0.4s, width 0.4s, background-color 0s;
    @media (max-width: $phone), (max-height: $phone) {
        width: 36px;
        height: 36px;
        padding: 0.3em;
    }
}

.burger-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    width: $burger_line;
    height: 17px;
    z-index: 5;
    &::before,::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        background-color: $ligh_color;
        transition: $transition;
    }
    & ::after {
        top: 100%; 
        transform: translateY(-100%);
    }
}
.navigation.active .burger-button__icon {
    &::before,::after { 
        top: 50%;
        background-color: $dark_color;
        transition: $transition;
    } 
    &::before { 
        transform: rotate(-45deg);
    } 
    & ::after { 
        transform: rotate(45deg);
    } 
}

.burger-button__line {  
    width: 100%;
    height: 3px;
    background-color: $ligh_color;
    transition: $transition;
}
.navigation.active .burger-button__line {
    background-color: transparent;
    transition: $transition;
}

.burger-button__text {
    display: none;
}

.navigation.active {
    & .burger-button { 
        width: -webkit-fit-content; 
        width: -moz-fit-content; 
        width: fit-content;
        z-index: 1;
        background-color: transparent;
        color: $dark_color;
    }
    & .burger-button__text {
        display: block;
        color: $dark_color;
        margin-right: 8px;
        padding-top: 4px;
    }
    
}

.lang-list__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    padding-right: 6px;
    overflow: hidden;
    transition: $transition;
    @media (max-width: $phone), (max-height: $phone) {
        opacity: 0;
        height: 0; 
        transition: $transition;
    }
}

.header.active .lang-list__wrapper {
    opacity: 0;
    height: 0;
    margin-top: 0px;
    padding-right: 0px;
}

.navigation.active .lang-list__wrapper .lang-list__link { 
    opacity: 0;
}

.lang-list__link.active {
    color: $middle_color;
}

.lang-list {
    display: flex;
    justify-content: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
}

.lang-list__item-rus {
    margin-right: 8px;
    color: $middle_color;
}

// burger-styles

.burger-menu_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 23vw;
    height: 100vh;

    transform: translate(100%,0%);
    background-color: $ligh_color;

    transition: $transition;
    @media (max-width: $pc) {
        width: 30vw;
    }
    @media (max-width: $tablet) {
        width: 45vw;
    }
    @media (max-width: $phone) { 
        left: 15%;
        right: unset;
        width: 100%;
        height: 100vh;
    }
    @media (max-height: $phone) { 
        left: 15%;
        right: unset;
        width: 100%;
        height: 100vh;
    }
}

.navigation.active {
    & .burger-menu_wrapper {  
        transform: translate(0%,0%); 
        transition: $transition;
    }
    
}

.burger-menu__button-wrapper {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0%;
    transform: translateX(-50%);

}

.burger-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 147px 0 59px 50px;
    max-width: 550px;
    height: 100%;
    background-color: $ligh_color;
    & a, button, span, li, .socials {
        color: $dark_color;
    }
    @media (max-height: 800px) { 
        padding: 75px 0 30px 50px; 
    }
    @media (max-width: $phone) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 95px 0 30px 30px; 
    }
    @media (max-height: 635px){ 
        padding: 65px 0 30px 30px; 
    }
    @media (max-height: 500px) and(orientation: portrait){ 
        padding: 45px 0 15px 30px; 
    }
    @media (max-height: $phone) and (orientation: landscape) {
        flex-wrap: nowrap;
    }
}

.burger-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    //height: 70%;
    min-height: 435px;
    max-height: 70%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    @media (max-height: 730px) {
        min-height: 380px;
    }
    @media (max-height: 635px){ 
        min-height: 360px;
    }
    @media (max-width: $phone) and (orientation: portrait) {
        max-height: 370px;
        height: 79%;
        min-height: unset;
    }
    @media (max-width: $phone) and (orientation: portrait) and (max-height: $phone) {
        max-height: 300px;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 90%;
        min-height: unset;
        overflow: auto;
    }
}

.burger-list__item {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    @media (max-height: $phone) and (orientation: landscape) {
        margin-right: 30px;
    }
}

.burger-list__link {
    display: inline-block;
    position: relative;
    padding-left: 0.1em;
    padding-bottom: 1.3em;
    width: calc(100% + 24px);

    font-size: 1.33em;
    z-index: 2;
    &::after {
        display: block;
        content: "";
        position: absolute;
        left: -6px;
        top: 20%;
        width: 0;
        height: 30%;
        z-index: -1;

        transition: $transition;
    }
    &:hover::after { 
        width: calc(100%);
        background-color: $middle_color;
    }
    @media (max-height: 730px) { 
        padding-bottom: 1em;
    }
    @media (max-width: $phone) {
        padding-bottom: 0.9em;
    }
}

.burger-contacts__link {
    display: flex;
    font-size: 1.5em;
}
.burger-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    min-height: 610px;
    @media (max-height: 730px) {
        min-height: 510px;
    }
    @media (max-width: $phone) and (orientation: portrait) {
        min-height: 510px;
        height: 76%;
    }
    @media (max-width: $phone) and (max-height: $phone) and (orientation: portrait) {
        min-height: 382px;
        height: 76%;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        height: 84%;
        min-height: 230px;
    }

}

.burger-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 10%;
    @media (max-height: 730px) {
        margin-top: 5%;
    }
    @media (max-height: 610px) and (min-height: $phone) {
        margin-top: 0;
    }
    @media (max-width: $phone) {
        margin-top: 5%;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}

.burger-contacts__link_email {
    margin-top: 0.6em;
    font-size: 1em;
}

.burger-contacts__item_socials {
    margin: 20px 0;
    @media (max-width: $phone) and (orientation: portrait) {
        margin-bottom: 0;
    }
}

.socials {
    display: flex;
}

.socials-link {
    display: flex;
    align-items: flex-end;
    margin-right: 3px;
    @media (max-width: $phone) {
        margin-right: 10px;
    }
}

.header .header__connection {
    z-index: 0;
}

.header__connection {
    position: relative;
    display: block;
    height: 100%;
    //width: 20%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    & .head__connection_wrapper {
        min-height: 100%;
    }
    & .head__connection {
        width: 100%;
    }
    & .head__connection-link {
        //display: none;
        padding: 0;
        margin: 5px 0 0 0;
        outline: none;
        border: none;
        @include btn_hover;
        transition: height 0.5s;
        width: 300px;
        height: 49px;
        top: 2px;

        font-size: 30px;
        background-color: rgba(243, 21, 38, 0.8);

        &:hover {
            background-color: #f31526;
        }

        &.move-header {
            display: block;
            //position: fixed;
            z-index: 5;
            transition: height 0.5s;
        }
        @media (max-width: $pc_big) {
            width: 250px;
            min-width: 250px;
            //height: 65px;

            font-size: 24px;
        }
 
        @media (max-width: $tablet) {
            top: 10px;
            width: 200px;
            min-width: 200px;
            height: 50px;

            font-size: 22px;
        }
        @media (max-width: $small_tablet) {
            min-width: 150px;
            width: 150px;
            font-size: 18px;
        }
        @media (max-width: $phone) {
            top: 0;
            margin-top: 2px;
            font-size: 16px;
        }
    }


    & .head__connection_wrapper {
        margin: 0 0 0 0;
    }
    @media (max-width: $tablet) {
        left: 40%;
    }
    @media (max-width: $phone), (max-height: $phone) {
        display: flex;
        align-items: center;
        & .head__connection-link {
            display: block;
            padding: 0;
            margin: 0;
            min-width: 136px;
            width: 136px;
            height: 35px;
            font-size: 18px;
        }
    }
    @media(max-width: 415px) { 
        left: 32%;
        & .head__connection-link {
            max-width: initial;
            margin-top: 3px;
            min-width: 106px;
            width: 106px;
            height: 30px;
            font-size: 16px;
        }
    }
}