<%= _.template(require('./_header.hbs'))(data) %>
<section class="game-over_wrapper first-slide_footer">
        <div class="container">
          <div class="game-over">
            <img class="game-over__img" src="./files/img/404/404.svg" alt="img_error" />
            <h1 class="game-over__title">Страницы не существует или она была удалена</h1>
            <div class="game-over__wrapper">
              <a class="game-over__button game-over__back"> назад</a>
              <a href="./index.html" class="game-over__button"> на главную</a>
            </div>
          </div>
        </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>