                        <div class="blog__case">
                            <div class="blog__case_wrpap">
                                <div class="blog__case-info">
                                    <div class="blog__case-date"><%=data %></div>
                                    <h3 class="blog__case-author"><%=author %></h3>
                                </div>
                                <div class="blog__case-thumb">
                                    <img src=<%=img %> alt="article_img" class="blog__case-thumb-img">
                                </div>
                            </div>
                            <div class="blog__case-title_wrap">
                                <h3 class="blog__case-title"><%=title %></h3>
                            </div>
                            <div class="blog__case-description_wrap">
                                <div class="blog__case-description">
                                    <p>
                                        <%=description %>
                                    </p>
                                </div>
                            </div>
                            <div class="blog__case-button_wrap">
                                <a href="./blog_item.html" class="blog__case-button">Читать далее</a>
                            </div>
                        </div>