                    <div class="cases-description__item">
                        <div class="cases-description__item-poster">
                            <a data-fslightbox="gallery" href="./files/img/portfolio/league.png"> 
                                <img src="./files/img/portfolio/league.png" alt="case_img" class="cases-deatil__item-poster-img">
                            </a>
                        </div>
                        <div class="cases-description__item-text">
                            <h2 class="cases-description__item-title">Описание проекта</h2>
                            <h3 >исследования</h3>
                            <p>
                                Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для 
                                дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса
                                и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые 
                                делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации 
                                интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки
                                Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для
                                дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик.
                                Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для
                                дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик.
                            </p>
                            <h4 >Анализ конкурентов</h4>
                            <img src="./files/img/case/_case_deatil_img1.png" alt="img_description"> 
                            <h3 >Подготовка к интервью</h3>    
                            <div>
                                Период работ: <br>
                                5-7 дней <br>
                                <br>
                                - Брифинг, разбираем все сценарии и шаги использования интерфейса <br>
                                - Описание проекта <br>
                                - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.) <br>
                                - Юзер стори для каждой роли (Что может сделать) <br>
                                - Информационная архитектура (Список страниц для реализации) <br>
                            </div>
                            <h3>Как можно померить этапы загрузки страницы ?</h3>
                            <p>
                                asdasdasd  <br>
                                asd  <br>
                                asd  <br>
                                asdasdasdasdasd  <br>
                                asdasdasd  <br>
                            </p>
                            <h3 >Анализ</h3>  
                                <img src="./files/img/case/_case_deatil_img2.png" alt="img_description">
                            <h3 >Персоны</h3>  
                            <ul>
                                <li>Идея.</li> 
                                <li>Все начинается с нее.</li>  
                                <li>Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для дизайнеров и разработчиков.
                                    Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного
                                    функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для 
                                    переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью
                                    заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                                </li>
                            </ul>
                            <h3 >Wireframes</h3>              
                                Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для 
                                дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса
                                и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые 
                                делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации 
                                интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                            <br>
                            <span>
                                <br>
                                SPAN SPAN
                                <br>
                                Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для 
                                дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса
                                и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые 
                                делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации 
                                интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
                            </span>
                        </div>
                    </div>