<section class="contacts-us-popup success">
    <form class="contact-form" method="GET" action="">
        <button type="button" class="contact-form__close-button"></button>
        <h2 class="application-form_title">Начать проект</h2>
        <input type="text" class="input" placeholder="Имя" name="name" />
        <input type="tel" class="input" id="tel" placeholder="Телефон*" name="tel" autocomplete="tel" required />
        <input type="text" class="input input_message" placeholder="Ваше сообщение" name="message" />
        <input type="submit" class="input submit" name="submit" />
        <div class="personal_agree_block">
            <label for="personal" class="label label-personal">
                <input type="checkbox" id="personal" class="input" name="personal" required checked/>
            </label>
            <span class="personal-input">Я подтверждаю, что ознакомлен с <span class="user-agree">Пользовательским</span> соглашением и даю свое согласие на обработку персональных данных</span>
        </div>
    </form>
    <div class="success-popup" data-work="work_with_class_success">
        <button type="button" class="contact-form__close-button"></button>
        <div class="success-popup__message">
            Ваша форма отправлена, спасибо!
        </div>
    </div>
    <div class="personal-popup">
        <button class="personal-popup__close"></button>
        <div class="personal-popup__text">
            <h2>Пользовательское соглашение</h2>
            <p>
            Настоящее Пользовательское соглашение является публичной офертой и определяет условия использования сервисов (существующих и создаваемых в будущем) веб-сайта любыми пользователями сети Интернет, просматривающими Сайт (далее — Пользователи Сайта).
            </P>
            <p>
            Настоящее Пользовательское соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское соглашение, Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия на обработку персональных данных Пользователя на условиях, указанных в разделе 2 настоящего Пользовательского соглашения. В случае несогласия с данными условиями Пользователь должен покинуть Сайт.
            </P>
            <h4>Общие положения</h4>
            <p>
            Настоящее Пользовательское соглашение вступает в силу с момента размещения его на Сайте и действует в отношении всей информации, размещенной на сайте в информационно-телекоммуникационной сети «Интернет».
            Пользователь принимает условия настоящего Пользовательского соглашения в полном объеме путем нажатия кнопки подтверждения ознакомления с настоящим Пользовательским соглашением. Пользователь подтверждает свое ознакомление и согласие на использование файлов cookie.
            Cайт использует сервисы веб-аналитики Яндекс.Метрика. Собранная при помощи cookie информация не может идентифицировать Пользователя, при этом направлена на улучшение работы сайта. Информация об использовании Сайта, собранная при помощи cookie, будет передаваться Яндексу для обработки и оценки использования Сайта, составления отчетов о деятельности Сайта.
            </p>
            <h4>Персональные данные</h4>
            <p>
            В случае если отдельные сервисы Сайта предусматривают ввод персональных данных, такие персональные данные хранятся и обрабатываются в соответствии с принципами и правилами обработки персональных данных, предусмотренными Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
            В отношении персональных данных сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
            Сайт не передает персональные данные третьим лицам, если только такая передача не предусмотрена законодательством Российской Федерации.
            Администрация Сайта принимает необходимые организационные и технические меры для защиты персональных данных от использования, не предусмотренного настоящим Пользовательским соглашением.
            </p>
            <h4> Обязательства Пользователя </h4>
            <p>
            Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы сервисов Сайта и Сайта в целом.
            Использование материалов Сайта без согласия правообладателей не допускается.
            </p>
            <p>
            При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.
            </p>
            <p>
            Администрация Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.
            Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
            </p>
            <h4>Прочие условия</h4>
            <P>
            Все возможные споры, вытекающие из настоящего Пользовательского соглашения или связанные с ним, подлежат разрешению в соответствии с законодательством Российской Федерации.
            Бездействие со стороны Администрации Сайта в случае нарушения Пользователем положений Пользовательского соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
            Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Пользовательского соглашения. Такие изменения вступают в силу с момента размещения новой версии Пользовательского соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан покинуть Сайт, прекратить использование материалов и сервисов Сайта.
            </p>
        </div>
        <div class="personal-popup__overlay"></div>
    </div>
    <div class="contacts-us-popup_overlay"></div>
</section>
</main>
    <footer class="footer">
        <div class="container">
            <div class="footer_wrapper">
                <div class="footer-copyright">
                    Z1 &#169; 2021
                </div>
                <div class="footer-social">
                    <div class="socials">
                        <a href="https://vk.com/devzero1" target="_blank" class="socials-link">
                            <img src="./files/img/socials_icon/icon_vk.svg" alt="icon_socials" class="socials-img">
                        </a>
                        <a href="https://www.facebook.com/zeronedigital" target="_blank" class="socials-link">
                            <img src="./files/img/socials_icon/icon_facebook.svg" alt="icon_socials" class="socials-img">
                        </a>
                        <a href="https://www.instagram.com/zerone_agency/" target="_blank" class="socials-link">
                            <img src="./files/img/socials_icon/icon_inst.svg" alt="icon_socials" class="socials-img">
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </footer>
</body>
</html>