<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Веб Студия ZerOne, Веб Студия ZerOne Пенза, студия разработки сайтов " />
    <meta name="description" content="Регистрация хостинга; Регистрация доменного
    имени; Разработка дизайна; Верстка; Заполнение сайта контентом; Внутренняя
    оптимизация сайта; Внешняя оптимизация сайта; Годовое обслуживание сайта"
    />
    <title>Услуги по Разработке и Продвижению Сайтов | Z1 Веб Cтудия</title> 
</head>
<body class="body">
    <header class="header">
        <div class="container">
            <div class="header__wrapper">

                <div class="header__logo-wrapper">
                    <a class="header_logo" href="./index.html">
                        <img class="header-logo-img" src="./files/img/_header/_header-logo.svg" alt="icon_logo"> 
                    </a>
                </div>

                <div class="header__connection">
                    <div class="head__connection_wrapper">
                        <div class="head__connection">
                            <button type="button" class="head__connection-link">Связаться с нами</button>
                        </div>
                    </div>
                </div>

                <nav class="navigation">
                    <div class="navigation-wrapper">
                        <div class="navigation__contacts">
                             <a href="tel:+79042667499" class="navigation__phone">+7 904 266 74 99</a>
                             <a href="mailto:info@zero-1.ru" class="navigation__email">info@zero-1.ru</a>
                        </div>
                        <button class="burger-button">
                            <span class="burger-button__text">Закрыть</span>
                            <span class="burger-button__icon">
                                <span class="burger-button__line"></span>
                            </span>
                        </button>
                    </div>

                    <div class="lang-list__wrapper">
                    <ul class="lang-list">
                        <li class="lang-list__item">
                            <a href="#" class="lang-list__link lang-list__item-rus active" data-lang="ru">RU</a>
                        </li>
                        <li class="lang-list__item">
                            <a href="#" class="lang-list__link" data-lang="eng">ENG</a>
                        </li>
                    </ul>
                    </div>
                    <div class="burger-menu_wrapper">
                        <div class="burger-menu">
                            <div class="burger-wrapper">
                                <ul class="burger-list">
                                    <li class="burger-list__item"><a href="./index.html" class="burger-list__link">Главная</a></li>
                                    <li class="burger-list__item"><a href="./service.html" class="burger-list__link">Услуги</a></li>
                                    <li class="burger-list__item"><a href="./portfolio.html" class="burger-list__link">Портфолио</a></li>
                                    <li class="burger-list__item"><a href="./command.html" class="burger-list__link">Команда</a></li>
                                     <li class="burger-list__item"><a href="./vacancies.html" class="burger-list__link">Вакансии</a></li>
                                    <li class="burger-list__item"><a href="./blog.html" class="burger-list__link">Блог</a></li>
                                    <li class="burger-list__item"><a href="./contacts.html" class="burger-list__link">Контакты</a></li>
                                </ul>

                                <ul class="burger-contacts">
                                    <li class="burger-contacts__item"><a href="tel:+79042667499" class="burger-contacts__link">+7 904 266 74 99</a></li>
                                    <li class="burger-contacts__item">
                                        <a href="mailto:info@zero-1.ru" class="burger-contacts__link burger-contacts__link_email">
                                            <div class="middle-color">info</div>@zero-1.ru
                                        </a>
                                    </li>
                                    <li class="burger-contacts__item burger-contacts__item_socials">
                                        <div class="socials">
                                            <a href="https://vk.com/devzero1" target="_blank" class="socials-link">
                                                <img src="./files/img/socials_icon/icon_vk_black.svg" alt="icon_socials" class="socials-img">
                                            </a>
                                            <a href="https://www.facebook.com/zeronedigital" target="_blank" class="socials-link">
                                                <img src="./files/img/socials_icon/icon_facebook_black.svg" alt="icon_socials" class="socials-img">
                                            </a>
                                            <a href="https://www.instagram.com/zerone_agency/" target="_blank" class="socials-link">
                                                <img src="./files/img/socials_icon/icon_inst_black.svg" alt="icon_socials" class="socials-img">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <ul class="lang-list">
                                <li class="lang-list__item">
                                    <a href="#" class="lang-list__link lang-list__item-rus active" data-lang="ru">RU</a>
                                </li>
                                <li class="lang-list__item">
                                    <a href="#" class="lang-list__link" data-lang="eng">ENG</a>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                </nav>

            </div>
        </div>
    </header>
    <section class="static-background" style="background-image: url(./files/img/background-img.png)"></section>
<main class="main">