<li class="photo__item" style=<%=img %>> 
    <div class="photo__wrapper">
        <div class="photo__description">
            <div class="photo__name"><%=first_name %><br><%=second_name %></div> 
            <div class="photo__job-position"><%=job_position %></div> 
           <!-- <div class="photo__socials">
                <a href="https://vk.com/devzero1" target="_blank" class="photo__social-link">
                         <img src="./files/img/socials_icon/icon_vk.svg" alt="vk_icon" class="photo__social-img">
                </a> 
                <a href="https://www.instagram.com/zerone_agency/" target="_blank" class="photo__social-link">
                         <img src="./files/img/socials_icon/icon_inst.svg" alt="inst_icon" class="photo__social-img">
                </a>
            </div> -->
           <div class="photo__description-text">
                <p>
                       Самвел - ведущий PHP-программист, тимлид и просто красаучег!
                </p> 
                <p>
                       Настоящий джигит. В совершенстве овладел древним искусством верстки по заветам тайной школы бутстрап. 
                </p> 
                <p>
                       Движок битрикса знает лучше его разработчиков, способен разработать 
                       и запустить любую программу даже на деревянных счетах
                </p> 
           </div> 
        </div>
    </div>

    <div class="photo__name-previously">
        <div class="photo__name-previously-wrapper">
            <div class="photo__name"><%=first_name %><br><%=second_name %></div> 
            <div class="photo__job-position"><%=job_position %></div>
        </div>
        <div class="photo__bio"><img src="./files/img/command/icon_bio.svg" alt="icon_biography" class="photo__bio-icon"></div>
    </div>
</li>