<a href="./case.html" class="case_wrapper" style=<%=img %> >
    <div class="case">
        <h4><%=title %></h4>
        <h5><%=description %></h5>
    </div>
    <div class="case-hidden">
        <h4><%=title %></h4>
        <h5><%=description %></h5>
        <p><%=description_long %></p>

        <span class="case-plus_wrapper">
            <img src="./files/img/portfolio/icon_+.svg" alt="icon_plus" class="case-plus"> 
            <span href="./case.html" class="case-plus_detail">Подробнее</span>
        </span>

    </div>
    <!--  <img src=<%=img_img %> alt="case_img" class="case-img">  -->
</a>