<div class="service-description <%=active_class %>">
   <div class="service-description__info">
     <h3 class="service-description__info-title"><%=title %></h3>
      <div class="service-description__info-block">
         <p>Идея. Все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ 
             для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования. Подходит как для проектов, которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки 
         </p>
         <br>
         <p>Период работ:</p>
         <p>5-7 дней</p>
         <br>
         <hr>
         <br>
         <p>
             - Брифинг, разбираем все сценарии и шаги использования интерфейса
             - Описание проекта
             - Определение интерфейсных ролей (авторизованный, не авторизованный, админ и.т.д.)
             - Юзер стори для каждой роли (Что может сделать)
             - Информационная архитектура (Список страниц для реализации)
          </p>
       <img src="./files/img/service/info_img_ux-ui.png" alt="img_ux-ui" class="service-description__info-img">
       </div>
   </div>
</div> 