<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_scrolling" >

    <div class="container">
        <div class="case__title_wrapper">
            <h1 class="section-title-local">Блог</h1>
        </div>
    </div>

    <div class="blog">
        <div class="container">
            <div class="blog_wrapper"> 
                <div class="blog__cases-list"> 
                    <div class="blog__cases-wrapper">
                        <%= _.template(require('./_blog-case.hbs'))({
                            data: "28.09.2020", 
                            author: "Александр Кадар",
                            img: "'./files/img/blog/blog_img1.png'",
                            title: "КАКОЙ ДОЛЖНА БЫТЬ ПРАВИЛЬНАЯ СТРАНИЦА «О НАС»?",
                            description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                        }) %>
                        <%= _.template(require('./_blog-case.hbs'))({
                            data: "30.11.2020", 
                            author: "Самвел Игитян",
                            img: "'./files/img/blog/blog_img2.png'",
                            title: "SSL-СЕРТИФИКАТ: ЧТО ЭТО И ЗАЧЕМ ОН НУЖЕН?",
                            description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                        }) %>
                        <%= _.template(require('./_blog-case.hbs'))({
                            data: "28.09.2020", 
                            author: "Александр Кадар",
                            img: "'./files/img/blog/blog_img1.png'",
                            title: "КАКОЙ ДОЛЖНА БЫТЬ ПРАВИЛЬНАЯ СТРАНИЦА «О НАС»?",
                            description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                        }) %>
                        <%= _.template(require('./_blog-case.hbs'))({
                            data: "30.11.2020", 
                            author: "Самвел Игитян",
                            img: "'./files/img/blog/blog_img2.png'",
                            title: "SSL-СЕРТИФИКАТ: ЧТО ЭТО И ЗАЧЕМ ОН НУЖЕН?",
                            description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                        }) %>
                    </div>
                </div>
                <!-- place for dots
                <div class="blog__more-article_wrapper">
                    <a href="./blog.html" class="blog__more-article">
                        <div class="blog__more-article-text">Больше статей и видео</div>
                        <div class="blog__more-article-icon_wrapper">
                            <img src="./files/img/portfolio/icon_+.svg" alt="icon_plus" class="blog__more-article-icon">
                        </div>
                    </a>
                </div>
                -->
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>