<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_footer section-cases-deatil">
    <a name="anchortop" class="cases-deatil__main-anchor"></a>
    <div class="container">
        <div class="cases-deatil">
           <div class="cases-deatil__head"> 
               <div class="container">

                    <div class="cases-deatil__head-wrap">
                        <div class="cases-deatil__title-block">
                            <h1 class="section-title-local">КАКОЙ ДОЛЖНА БЫТЬ ПРАВИЛЬНАЯ СТРАНИЦА «О НАС»?</h1>
                            <!-- <div class="cases-deatil__title-link">
                                <span class="cases-deatil__title-link-icon">
                                    <img src="./files/img/case/icon_titlesvg.svg" alt="icon_title">
                                </span>
                                 <span class="cases-deatil__title-link-name">football.ru</span>  
                            </div> -->
                        </div>
                        <div class="cases-deatil__arrow">
                            <a href="#" class="cases-deatil__button disable">
                                <span class="command-head__left"></span>
                                <span class="cases-deatil__button-text">Предыдущий<br>проект</span>
                            </a>
                            <a href="#" class="cases-deatil__button">
                                <span class="cases-deatil__button-text right_align">Следующий<br>проект</span>
                                <span class="command-head__right"></span>
                            </a>  
                        </div>   
                    </div>

                    <aside class="cases-deatil__description">
                        <a href="./blog.html" class="cases-deatil__description-callback">
                            <img src="./files/img/case/icon_callback_arrow.svg" alt="icon_arrow" class="cases-deatil__description-callback-icon">
                            <span>В блог</span>
                        </a>
                        <a href="#anchortop" class="cases-deatil__description-title">Содержание</a>
                        <ul class="cases-deatil__work-list">
                            <!-- li такого типа будут сформированы JS
                            <li class="cases-deatil__work-item">
                                <a href="#anchor1" class="cases-deatil__work-link active">1 Исследования</a>
                            </li>
                            -->
                        </ul>
                    </aside>

                </div>    
           </div>
           <div class="cases-description"> 
                <div class="cases-description__list">
                    <%= _.template(require('./_case-detail.hbs'))({
                        title: "Описание проекта"
                    }) %> 
                </div>
               <div class="case__detail__form">
                   <div class="case__detail__form__wrap__block">
                       <div class="case__detail__form__title">Начать проект</div>
                       <div class="case__detail__form__text">Свяжитесь с нами прямо сейчас!</div>
                       <div class="case__detail__form__content">
                           <form class="cases__detail__form__wrap zo_popup_form_feedback" name="feedback_form" method="POST" action="/local/ajax/form/blog.php">
                               <div class="case__input case__input__tel">
                                   <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M11.774 9.258C11.268 8.75849 10.6364 8.75849 10.1336 9.258C9.75012 9.63828 9.36662 10.0186 8.98957 10.4053C8.88645 10.5116 8.79943 10.5342 8.67375 10.4633C8.4256 10.3279 8.16135 10.2184 7.92287 10.0701C6.81105 9.37079 5.8797 8.47167 5.0547 7.45975C4.64542 6.95702 4.28126 6.41883 4.02666 5.81297C3.9751 5.69051 3.98477 5.60994 4.08467 5.51004C4.46817 5.13943 4.842 4.75916 5.21905 4.37888C5.74435 3.85037 5.74435 3.23161 5.21583 2.69987C4.91612 2.39694 4.61641 2.10046 4.3167 1.79753C4.00733 1.48815 3.70118 1.17555 3.38858 0.869399C2.88262 0.376331 2.25098 0.376331 1.74824 0.872622C1.36152 1.2529 0.990914 1.64284 0.597749 2.01667C0.233587 2.36149 0.0498953 2.78366 0.0112233 3.27673C-0.0500073 4.07918 0.146575 4.8365 0.423725 5.57449C0.990914 7.10204 1.85459 8.45878 2.90195 9.70273C4.3167 11.385 6.00538 12.7159 7.98088 13.6763C8.87033 14.1081 9.79201 14.4401 10.7943 14.4948C11.4839 14.5335 12.0833 14.3595 12.5635 13.8213C12.8922 13.4539 13.2628 13.1188 13.6109 12.7675C14.1265 12.2454 14.1297 11.6138 13.6173 11.0981C13.005 10.4826 12.3895 9.87031 11.774 9.258Z" fill="#AAAAAA"/>
                                   </svg>
                                   <input type="tel" name="PHONE" class="case__input__wrap case__input__tel__wrap" placeholder="Номер телефона" id="tel" />
                               </div>
                               <div class="case__input case__input__email">
                                   <svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M16.5 10.4999C16.5 10.8507 16.4013 11.1759 16.2433 11.462L11.1914 5.80966L16.1885 1.43765C16.3829 1.74614 16.5 2.10851 16.5 2.50009V10.4999ZM8.50002 6.83595L15.4533 0.751998C15.168 0.595793 14.8467 0.5 14.5001 0.5H2.49999C2.15296 0.5 1.83155 0.595793 1.54736 0.751998L8.50002 6.83595ZM10.4385 6.46788L8.82905 7.87705C8.73491 7.95906 8.61768 8.00002 8.50002 8.00002C8.3823 8.00002 8.26507 7.95906 8.17093 7.87705L6.56107 6.46782L1.4453 12.1924C1.75194 12.3848 2.11131 12.5 2.49996 12.5H14.5001C14.8886 12.5 15.2482 12.3848 15.5547 12.1924L10.4385 6.46788ZM0.811551 1.43762C0.617194 1.74611 0.5 2.10847 0.5 2.50009V10.5C0.5 10.8507 0.598201 11.1759 0.756845 11.462L5.80811 5.8087L0.811551 1.43762Z" fill="#AAAAAA"/>
                                   </svg>
                                   <input type="email" name="EMAIL" class="case__input__wrap case__input__email__wrap" placeholder="E-mail" />
                               </div>

                               <input name="iblock" type="hidden" value="11" required>
                               <input name="template" type="hidden" value="zo_popup_form_feedback" required>
                               <input type="hidden" name="form_submit" value="Y">

                               <input type="submit" name="submit " class="case__submit submit" value="Отправить">
                           </form>
                           <div class="case__detail__politics">
                               <div class="case__detail__checkbox">
                                   <label class="toggle">
                                       <input class="toggle__input" type="checkbox" checked>
                                       <span class="toggle__label"></span>
                                   </label>
                               </div>
                               <div class="case__detail__politics_wrap">
                                   Я подтверждаю, что ознакомлен с <a href="#" class="case__detail__politics__agree">Пользовательским соглашением</a> и даю свое согласие на обработку персональных данных.
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="personal-popup">
                       <button class="personal-popup__close"></button>
                       <div class="personal-popup__text">
                           <h2>Пользовательское соглашение</h2>
                           <p>
                               Настоящее Пользовательское соглашение является публичной офертой и определяет условия использования сервисов (существующих и создаваемых в будущем) веб-сайта любыми пользователями сети Интернет, просматривающими Сайт (далее — Пользователи Сайта).
                           </P>
                           <p>
                               Настоящее Пользовательское соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское соглашение, Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия на обработку персональных данных Пользователя на условиях, указанных в разделе 2 настоящего Пользовательского соглашения. В случае несогласия с данными условиями Пользователь должен покинуть Сайт.
                           </P>
                           <h4>Общие положения</h4>
                           <p>
                               Настоящее Пользовательское соглашение вступает в силу с момента размещения его на Сайте и действует в отношении всей информации, размещенной на сайте в информационно-телекоммуникационной сети «Интернет».
                               Пользователь принимает условия настоящего Пользовательского соглашения в полном объеме путем нажатия кнопки подтверждения ознакомления с настоящим Пользовательским соглашением. Пользователь подтверждает свое ознакомление и согласие на использование файлов cookie.
                               Cайт использует сервисы веб-аналитики Яндекс.Метрика. Собранная при помощи cookie информация не может идентифицировать Пользователя, при этом направлена на улучшение работы сайта. Информация об использовании Сайта, собранная при помощи cookie, будет передаваться Яндексу для обработки и оценки использования Сайта, составления отчетов о деятельности Сайта.
                           </p>
                           <h4>Персональные данные</h4>
                           <p>
                               В случае если отдельные сервисы Сайта предусматривают ввод персональных данных, такие персональные данные хранятся и обрабатываются в соответствии с принципами и правилами обработки персональных данных, предусмотренными Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
                               В отношении персональных данных сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
                               Сайт не передает персональные данные третьим лицам, если только такая передача не предусмотрена законодательством Российской Федерации.
                               Администрация Сайта принимает необходимые организационные и технические меры для защиты персональных данных от использования, не предусмотренного настоящим Пользовательским соглашением.
                           </p>
                           <h4> Обязательства Пользователя </h4>
                           <p>
                               Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы сервисов Сайта и Сайта в целом.
                               Использование материалов Сайта без согласия правообладателей не допускается.
                           </p>
                           <p>
                               При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.
                           </p>
                           <p>
                               Администрация Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.
                               Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
                           </p>
                           <h4>Прочие условия</h4>
                           <P>
                               Все возможные споры, вытекающие из настоящего Пользовательского соглашения или связанные с ним, подлежат разрешению в соответствии с законодательством Российской Федерации.
                               Бездействие со стороны Администрации Сайта в случае нарушения Пользователем положений Пользовательского соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                               Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Пользовательского соглашения. Такие изменения вступают в силу с момента размещения новой версии Пользовательского соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан покинуть Сайт, прекратить использование материалов и сервисов Сайта.
                           </p>
                       </div>
                       <div class="personal-popup__overlay"></div>
                   </div>
                   <div class="form__universal__success__display">
                       <div class="form__universal__success__message">
                           <div class="form__success__message__wrap">
                               <div class="form__success__message__text">
                                   Спасибо! Ваша заявка принята, мы свяжемся
                                   с вами в ближайшее время!
                               </div>
                               <div class="form__success__message__svg">
                                   <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
                                       <path d="M120 10C59.25 10 10 59.2475 10 120C10 180.753 59.25 230 120 230C180.75 230 230 180.753 230 120C230 59.2475 180.75 10 120 10ZM120 210C70.295 210 30 169.705 30 120C30 70.295 70.295 30 120 30C169.705 30 210 70.295 210 120C210 169.705 169.705 210 120 210Z" fill="#04B200" fill-opacity="0.2"/>
                                       <path d="M160.709 92.925C156.804 89.0225 150.472 89.0225 146.567 92.925L111.212 128.283L97.0693 114.14C93.1643 110.235 86.8343 110.235 82.9268 114.14C79.0218 118.045 79.0218 124.378 82.9268 128.285L104.137 149.493C108.042 153.398 114.377 153.398 118.282 149.493L160.707 107.068C164.614 103.163 164.619 96.8325 160.709 92.925Z" fill="#04B200" fill-opacity="0.2"/>
                                   </svg>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>