<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_footer section-cases-deatil">
    <a name="anchortop" class="cases-deatil__main-anchor"></a>
    <div class="container">
        <div class="cases-deatil">
           <div class="cases-deatil__head"> 
               <div class="container">

                    <div class="cases-deatil__head-wrap">
                        <div class="cases-deatil__title-block">
                            <h1 class="section-title-local">Лига чемпионов бизнеса</h1>
                            <a class="cases-deatil__title-link" href="#">
                                <span class="cases-deatil__title-link-icon">
                                    <img src="./files/img/case/icon_titlesvg.svg" alt="icon_title">
                                </span>
                                <span class="cases-deatil__title-link-name">football.ru</span>
                            </a>
                        </div>
                        <div class="cases-deatil__arrow">
                            <a href="#" class="cases-deatil__button">
                                <span class="command-head__left"></span>
                                <span class="cases-deatil__button-text">Предыдущий<br>проект</span>
                            </a>
                            <a href="#" class="cases-deatil__button">
                                <span class="cases-deatil__button-text right_align">Следующий<br>проект</span>
                                <span class="command-head__right"></span>
                            </a>  
                        </div>   
                    </div>

                    <aside class="cases-deatil__description">
                        <a href="./portfolio.html" class="cases-deatil__description-callback">
                            <img src="./files/img/case/icon_callback_arrow.svg" alt="icon_arrow" class="cases-deatil__description-callback-icon">
                            <span>В портфолио</span>
                        </a>
                        <a href="#anchortop" class="cases-deatil__description-title">Содержание</a>
                        <ul class="cases-deatil__work-list">
                            <!-- li такого типа будут сформированы JS
                            <li class="cases-deatil__work-item">
                                <a href="" class="cases-deatil__work-link active">1 Исследования</a>
                            </li>
                            -->
                        </ul>
                    </aside>

                </div>    
           </div>
           <div class="cases-description"> 
                <div class="cases-description__list">
                    <%= _.template(require('./_case-detail.hbs'))({
                        title: "Описание проекта"
                    }) %> 
                </div>
           </div>
        </div>
    </div>

</section>
<%= _.template(require('./_footer.hbs'))(data) %>