<%= _.template(require('./_header.hbs'))(data) %> 

<section class="first-slide_footer section-command">
    <div class="container">
        <div class="command">
           <div class="command-head"> 
                 <h1 class="section-title-local"><span class="command-head__subtitle">Наша</span> команда</h1>
           </div>
           <div class="photo" id="intro"> 
              <!--  <div class="command-head__arrow" data-glide-el="controls">
                    <button class="command-head__left" data-glide-dir="<">
                    </button>
                    <button class="command-head__right" data-glide-dir=">">
                    </button>  
                </div>  --> 
                <div class="photo__list"  data-glide-el="track">   
                    <ul class="glide__slides"> 
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Самвел",
                            second_name: "Игитян",
                            job_position: "CO founder",
                            img: "'background-image: url(./files/img/command/samvel.png)'",
                        }) %>
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Александр",
                            second_name: "Кадаров",
                            job_position: "CO founder",
                            img: "'background-image: url(./files/img/command/sandr.png)'",
                        }) %> 
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Максим",
                            second_name: "Новичков",
                            job_position: "Manager",
                            img: "'background-image: url(./files/img/command/maks.png)'",
                        }) %>
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Муроджон",
                            second_name: "Тошпулотов",
                            job_position: "Programmist",
                            img: "'background-image: url(./files/img/command/murad.png)'",
                        }) %> 
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Валерий",
                            second_name: "Зуев",
                            job_position: "Programmist",
                            img: "'background-image: url(./files/img/command/valery.png)'",
                        }) %>
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Самвел",
                            second_name: "Игитян",
                            job_position: "Programmist",
                            img: "'background-image: url(./files/img/command/samvel.png)'",
                        }) %> 
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Самвел",
                            second_name: "Игитян",
                            job_position: "Programmist",
                            img: "'background-image: url(./files/img/command/samvel.png)'",
                        }) %>
                        <%= _.template(require('./_photo-item.hbs'))({
                            first_name: "Самвел",
                            second_name: "Игитян",
                            job_position: "Programmist",
                            img: "'background-image: url(./files/img/command/samvel.png)'",
                        }) %> 
                    </ul>
                </div>   

                  <ul class="photo__dots" data-glide-el="controls[nav]" >
                    <li class="photo__dot" data-num="0" data-glide-dir="=0"></li>
                    <li class="photo__dot" data-num="1" data-glide-dir="=1"></li>
                    <li class="photo__dot" data-num="2" data-glide-dir="=2"></li>
                    <li class="photo__dot" data-num="3" data-glide-dir="=3"></li>
                    <li class="photo__dot" data-num="4" data-glide-dir="=4"></li>
                    <li class="photo__dot" data-num="5" data-glide-dir="=5"></li>
                    <li class="photo__dot" data-num="5" data-glide-dir="=6"></li>
                    <li class="photo__dot" data-num="5" data-glide-dir="=7"></li>
                </ul>

            </div>
 
           </div>
        </div>

</section> 
<%= _.template(require('./_footer.hbs'))(data) %>