<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_footer section-contacts">
   <!-- <div class="container">
      <div class="case__title_wrapper">
          <h1 class="section-title section-title_space-bottom">Контакты</h1>
      </div>
    </div> -->
    <div class="container">
        <div class="contacts">
              <div class="contact-info">
                <h2 class="contact-info__title section-title-local">Контакты</h2>
                <div class="contact-info__wrapper contact-info__wrapper-tel">
                  <h3 class="contact-info__subtitle contact-info__tel">Телефоны/Telegram</h3>
                  <a href="tel:+79914575085" class="contact-info__link"><sub class="contact-info_sub">+7 991</sub> 457-50-85</a>
                  <a href="tel:+79914698522" class="contact-info__link"><sub class="contact-info_sub">+7 991</sub> 469-85-22</a>
                </div>
                <div class="contact-info__wrapper">
                  <h3 class="contact-info__subtitle">Офис</h3>
                  <a href="https://goo.gl/maps/jNXFrErGBCNoe6u37" class="contact-info__link"><sub class="contact-info_sub">Пенза</sub>, ул. Ленина 6<br> ОФ. 305</a>
                </div>
                <div class="contact-info__wrapper">
                  <h3 class="contact-info__subtitle">Email</h3>
                  <a href="mailto:info@zero-1.ru" class="contact-info__link"><sub class="contact-info_sub">info</sub>@zero-1.ru</a>
                </div> 
                <!--                
                <div class="contact-info__wrapper">
                  <a href="./files/contacts_presentation/zerone.pptx" class="contact-info__link contact-info_download" download>
                    скачать презентацию
                  </a>
                </div>
                -->
              </div>
              <form class="contact-form" method="GET" action="">
                  <h2 class="application-form_title">Начать проект</h2>
               <!--    <div class="contact-form__inner"> -->
                    <input type="text" class="input" placeholder="Имя" name="name" />
                    <input type="tel" class="input" id="tel" placeholder="Телефон*" name="tel" autocomplete="tel" required />
                    <input type="text" class="input input_message" placeholder="Ваше сообщение" name="message" />
                    <input type="submit" class="input submit" name="submit" />
                    <div class="personal_agree_block">
                        <label for="personal" class="label label-personal">
                            <input type="checkbox" id="personal" class="input" name="personal" required checked/>
                        </label>
                        <span class="personal-input">Я подтверждаю, что ознакомлен с <span class="user-agree">Пользовательским</span> соглашением и даю свое согласие на обработку персональных данных</span>
                    </div>
                <!-- </div> -->
                    <div class="personal-popup">
                      <button class="personal-popup__close"></button>
                      <div class="personal-popup__text">
                          <h2>Пользовательское соглашение</h2>
                          <p>
                            Настоящее Пользовательское соглашение является публичной офертой и определяет условия использования сервисов (существующих и создаваемых в будущем) веб-сайта любыми пользователями сети Интернет, просматривающими Сайт (далее — Пользователи Сайта).
                          </P>
                          <p>
                            Настоящее Пользовательское соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское соглашение, Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия на обработку персональных данных Пользователя на условиях, указанных в разделе 2 настоящего Пользовательского соглашения. В случае несогласия с данными условиями Пользователь должен покинуть Сайт.
                          </P>
                          <h4>Общие положения</h4>
                          <p>
                            Настоящее Пользовательское соглашение вступает в силу с момента размещения его на Сайте и действует в отношении всей информации, размещенной на сайте в информационно-телекоммуникационной сети «Интернет».
                            Пользователь принимает условия настоящего Пользовательского соглашения в полном объеме путем нажатия кнопки подтверждения ознакомления с настоящим Пользовательским соглашением. Пользователь подтверждает свое ознакомление и согласие на использование файлов cookie.
                            Cайт использует сервисы веб-аналитики Яндекс.Метрика. Собранная при помощи cookie информация не может идентифицировать Пользователя, при этом направлена на улучшение работы сайта. Информация об использовании Сайта, собранная при помощи cookie, будет передаваться Яндексу для обработки и оценки использования Сайта, составления отчетов о деятельности Сайта.
                          </p>
                          <h4>Персональные данные</h4>
                          <p>
                            В случае если отдельные сервисы Сайта предусматривают ввод персональных данных, такие персональные данные хранятся и обрабатываются в соответствии с принципами и правилами обработки персональных данных, предусмотренными Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
                            В отношении персональных данных сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
                            Сайт не передает персональные данные третьим лицам, если только такая передача не предусмотрена законодательством Российской Федерации.
                            Администрация Сайта принимает необходимые организационные и технические меры для защиты персональных данных от использования, не предусмотренного настоящим Пользовательским соглашением.
                          </p>
                          <h4> Обязательства Пользователя </h4>
                          <p>
                            Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы сервисов Сайта и Сайта в целом.
                            Использование материалов Сайта без согласия правообладателей не допускается.
                          </p>
                          <p>
                            При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.
                          </p>
                          <p>
                            Администрация Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.
                            Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
                          </p>
                          <h4>Прочие условия</h4>
                          <P>
                            Все возможные споры, вытекающие из настоящего Пользовательского соглашения или связанные с ним, подлежат разрешению в соответствии с законодательством Российской Федерации.
                            Бездействие со стороны Администрации Сайта в случае нарушения Пользователем положений Пользовательского соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                            Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Пользовательского соглашения. Такие изменения вступают в силу с момента размещения новой версии Пользовательского соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан покинуть Сайт, прекратить использование материалов и сервисов Сайта.
                          </p>
                      </div>
                      <div class="personal-popup__overlay"></div>
                    </div>
              </form>
            <div class="form__universal__success__display">
                <div class="form__universal__success__message">
                    <div class="form__success__message__wrap">
                        <div class="form__success__message__text">
                            Спасибо! Ваша заявка принята, мы свяжемся
                            с вами в ближайшее время!
                        </div>
                        <div class="form__success__message__svg">
                            <svg width="240" height="240" viewBox="0 0 240 240" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M120 10C59.25 10 10 59.2475 10 120C10 180.753 59.25 230 120 230C180.75 230 230 180.753 230 120C230 59.2475 180.75 10 120 10ZM120 210C70.295 210 30 169.705 30 120C30 70.295 70.295 30 120 30C169.705 30 210 70.295 210 120C210 169.705 169.705 210 120 210Z" fill="#04B200" fill-opacity="0.2"/>
                                <path d="M160.709 92.925C156.804 89.0225 150.472 89.0225 146.567 92.925L111.212 128.283L97.0693 114.14C93.1643 110.235 86.8343 110.235 82.9268 114.14C79.0218 118.045 79.0218 124.378 82.9268 128.285L104.137 149.493C108.042 153.398 114.377 153.398 118.282 149.493L160.707 107.068C164.614 103.163 164.619 96.8325 160.709 92.925Z" fill="#04B200" fill-opacity="0.2"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>