<%= _.template(require('./_header.hbs'))(data) %>
<script src="https://api-maps.yandex.ru/2.1/?apikey=caaedaab-8f72-4023-b361-b457d58b7a2a&load=package.full&lang=ru_RU" type="text/javascript"></script>
<section class="first-slide index">
    <div class="container head">
        <div class="head_wrapper animation-opacity">
            <div class="z1-logo_wrapper">
                <div class="z1-logo">
                    <img src="./files/img/index/z1_logo.svg" alt="z1-logo" class="z1-logo__img">
                </div>
            </div> 
            <div class="head__text_wrapper">
                <h1 class="head__text">
                    большие <br> сложные <br> интернет-магазины
                </h1>
            </div>
        </div>
        <div class="head__connection_wrapper animation-bottom animation-opacity">
            <div class="head__connection">
                <button type="button" class="head__connection-link">Связаться с нами</button>
            </div>
        </div>
    </div> 
</section>
<section class="cases animation-bottom" >
    <%= _.template(require('./_portfolio-case.hbs'))({  
        img: "'background-image: url(./files/img/portfolio/league.png)'", 
        img_img: "'./files/img/portfolio/league.png'" ,
        title: "Лига чемпионов бизнеса",
        description: "спортивный информационный портал",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
    }) %>
    <%= _.template(require('./_portfolio-case.hbs'))({   
        img: "'background-image: url(./files/img/portfolio/almira.png)'", 
        img_img: "'./files/img/portfolio/almira.png'" ,
        title: "almira garden hotel garden hotel",
        description: "сайт отеля в city lorem john doe brain italick адлере italick адлере italick адлере italick адлере",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал, разработали дополнительные модули и функционал",
    }) %>
    <%= _.template(require('./_portfolio-case.hbs'))({
        img: "'background-image: url(./files/img/portfolio/malahit.png)'", 
        img_img: "'./files/img/portfolio/malahit.png'" ,
        title: "Малахитовая шкатулка",
        description: "интернет-магазин для сети ювелирных магазинов",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
    }) %>
    <%= _.template(require('./_portfolio-case.hbs'))({   
        img: "'background-image: url(./files/img/portfolio/azbook.png)'", 
        img_img: "'./files/img/portfolio/azbook.png'" ,
        title: "Азбука тентов",
        description: "интернет-магазин для сети ювелирных магазинов",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
    }) %>
    <%= _.template(require('./_portfolio-case.hbs'))({   
        img: "'background-image: url(./files/img/portfolio/garden.png)'", 
        img_img: "'./files/img/portfolio/garden.png'" ,
        title: "процветание",
        description: "интернет-магазин товаров для сада и огорода",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
    }) %>
    <%= _.template(require('./_portfolio-case.hbs'))({
        img: "'background-image: url(./files/img/portfolio/league.png)'", 
        img_img: "'./files/img/portfolio/league.png'" ,
        title: "Sitara",
        description: "туристический портал по странам средней азии",
        description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
    }) %>
</section>
<section class="advantage animation-bottom">
    <div class="container">
        <div class="advantage_wrapper">
            <div class="advantage-title_wrapper">
                <h2 class="advantage-title section-title">
                        В чем мы  
                        <br>
                        сильны
                </h2>
            </div>
            <div class="advantage-case_wrapper">
                <div class="advantage-case animation-left">
                    <h3 class="advantage-case__title">
                        <span class="advantage-case__title-up">Разработка &<br> сопровождение</span>
                        <span class="advantage-case__title-down">интернет-магазинов</span>
                    </h3>
                    <div class="advantage-case__detail-wrapper">
                        <a href="./service.html" class="advantage-case__detail">Узнать подробности</a>
                    </div>
                </div>
                
                <div class="advantage-case animation-right">
                    <h3 class="advantage-case__title">
                        <span class="advantage-case__title-up">Разработка &<br> Исследования</span>
                        <span class="advantage-case__title-down">UX/UI дизайна</span>
                    </h3>
                    <div class="advantage-case__detail-wrapper">
                        <a href="./service.html" class="advantage-case__detail">Узнать подробности</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="about-us animation-bottom">
    <div class="container">
        <div class="about-us_wrapper">
            <div class="about-us__title_wrapper"></div>
            <h2 class="about-us__title section-title">
                    О нас
            </h2>
        </div>
        <div class="about-us__description_wrapper">
            <div class="about-us__text_wrap">
                <p><strong>Z1</strong> - это все начинается с нее. Созадать новый сервис, сделать редизайн интернет-магазина и т.д. Энтузиазм пропадает, когда нужно составить ТЗ для дизайнеров и разработчиков. Словно общаетесь с иностранцем через переводчик. UX оригами позволяет структурировать мысли, собрать все системные требования интерфейса и найти до 30% упущенного функционала, что позволит избежать незапланированных затрат при реализации дизайна и программирования.</p>
                <h3>Специализация</h3>
                <p>Сайты на 1С Битрикс. которые делаются с нуля, так и для переосмысления пользовательского опыта на действующих проектах. После данного этапа делается интерактивный прототип для визуализации интерфейса. Документ полностью заменяет первичное ТЗ и легко воспринимается digital специалистами. Эта предварительная работа необходима для точной оценки</p>
            </div>
            <div class="about-us__photo_wrap">
                <div class="about-us__photo">
                    <img class="about-us__photo-img" src="./files/img/index/command.png" alt="company_foudation_photo">
                    <div class="about-us__photo-link_wrapper">
                        <a href="./command.html" class="about-us__photo-link">Наша команда</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="blog animation-bottom">
    <div class="container">
        <div class="blog_wrapper" id="intro">
            <div class="blog-title_wrapper">
                <h2 class="blog-title section-title">
                        Почитать, <br>
                         Посмотреть
                </h2>
            </div>
            <div class="blog__cases-list" data-glide-el="track"> 
                <div class="blog__cases-wrapper glide__slides">
                    <%= _.template(require('./_blog-case.hbs'))({
                        data: "28.09.2020", 
                        author: "Александр Кадар",
                        img: "'./files/img/blog/blog_img1.png'",
                        title: "КАКОЙ ДОЛЖНА БЫТЬ ПРАВИЛЬНАЯ СТРАНИЦА «О НАС»?",
                        description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                    }) %>
                    <%= _.template(require('./_blog-case.hbs'))({
                        data: "30.11.2020", 
                        author: "Самвел Игитян",
                        img: "'./files/img/blog/blog_img2.png'",
                        title: "SSL-СЕРТИФИКАТ: ЧТО ЭТО И ЗАЧЕМ ОН НУЖЕН?",
                        description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                    }) %>
                    <%= _.template(require('./_blog-case.hbs'))({
                        data: "28.09.2020", 
                        author: "Александр Кадар",
                        img: "'./files/img/blog/blog_img1.png'",
                        title: "КАКОЙ ДОЛЖНА БЫТЬ ПРАВИЛЬНАЯ СТРАНИЦА «О НАС»?",
                        description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                    }) %>
                    <%= _.template(require('./_blog-case.hbs'))({
                        data: "30.11.2020", 
                        author: "Самвел Игитян",
                        img: "'./files/img/blog/blog_img2.png'",
                        title: "SSL-СЕРТИФИКАТ: ЧТО ЭТО И ЗАЧЕМ ОН НУЖЕН?",
                        description: "Представьте: Вы на вечеринке, и кто-то говорим вам на ухо о своем новом бизнесе. Они пытаются вам описать его словами, такими как «инновационный» и «великолепный», но у Вас все равно в голове не укладывается, что это за компания и чем она занимается.",
                    }) %>
                </div>
            </div>
            <div class="blog__more-article_wrapper">
                <a href="./blog.html" class="blog__more-article">
                    <div class="blog__more-article-text">Больше статей и видео</div>
                    <div class="blog__more-article-icon_wrapper">
                        <img src="./files/img/portfolio/icon_+.svg" alt="icon_plus" class="blog__more-article-icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="main-contacts animation-bottom">
    <div class="container">
        <div class="main-contacts__title_wrapper">
            <h2 class="main-contacts__title section-title">
                    Контакты
            </h2>
        </div>
    </div>

        <div class="main-contacts_wrapper">

            <div class="main-contacts__map" style="background-image: url(./files/img/index/map_alarm.png)">
               <!-- <div id="map" class="map"></div>-->
            </div>
            <div id="map" class="map"></div>

            
            <div class="container">
                <div class="main-contacts__contacts">
                    <div class="main-contacts__contacts-item">
                        <h3 class="main-contacts__contacts-title">Телефоны/Telegram</h3>
                        <a href="tel:+79914575085" class="main-contacts__contacts-link"><span class="middle-color">+7 991</span> 457-50-85</a>
                        <a href="tel:+79914698522" class="main-contacts__contacts-link"><span class="middle-color">+7 991</span> 469-85-22</a>
                    </div>
                    <div class="main-contacts__contacts-item">
                        <h3 class="main-contacts__contacts-title">Офис</h3>
                        <a href="#" class="main-contacts__contacts-link"><span class="middle-color">Пенза</span>, ул. Ленина 6,<br> оф. 305</a>
                    </div>
                    <div class="main-contacts__contacts-item">
                        <h3 class="main-contacts__contacts-title">Email</h3>
                        <a href="mailto:info@zero-1.ru" class="main-contacts__contacts-link"><span class="middle-color">info</span>@zero-1.ru</a>
                    </div>
                </div>
            </div>
            
        </div>
 
</section>
<%= _.template(require('./_footer.hbs'))(data) %>