<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_scrolling" >

    <div class="container">
        <div class="case__title_wrapper">
            <h1 class="section-title-local section-title_space-bottom">Портфолио</h1>
        </div>
    </div>

    <div class="cases">
        <%= _.template(require('./_portfolio-case.hbs'))({  
            img: "'background-image: url(./files/img/portfolio/league.png)'", 
            img_img: "'./files/img/portfolio/league.png'" ,
            title: "Лига чемпионов бизнеса",
            description: "спортивный информационный портал",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
        <%= _.template(require('./_portfolio-case.hbs'))({   
            img: "'background-image: url(./files/img/portfolio/almira.png)'", 
            img_img: "'./files/img/portfolio/almira.png'" ,
            title: "almira garden hotel",
            description: "сайт отеля в адлере",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
        <%= _.template(require('./_portfolio-case.hbs'))({
            img: "'background-image: url(./files/img/portfolio/malahit.png)'", 
            img_img: "'./files/img/portfolio/malahit.png'" ,
            title: "Малахитовая шкатулка",
            description: "интернет-магазин для сети ювелирных магазинов",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
        <%= _.template(require('./_portfolio-case.hbs'))({   
            img: "'background-image: url(./files/img/portfolio/azbook.png)'", 
            img_img: "'./files/img/portfolio/azbook.png'" ,
            title: "Азбука тентов",
            description: "интернет-магазин для сети ювелирных магазинов",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
        <%= _.template(require('./_portfolio-case.hbs'))({   
            img: "'background-image: url(./files/img/portfolio/garden.png)'", 
            img_img: "'./files/img/portfolio/garden.png'" ,
            title: "процветание",
            description: "интернет-магазин товаров для сада и огорода",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
        <%= _.template(require('./_portfolio-case.hbs'))({
            img: "'background-image: url(./files/img/portfolio/league.png)'", 
            img_img: "'./files/img/portfolio/league.png'" ,
            title: "Sitara",
            description: "туристический портал по странам средней азии",
            description_long: "Обновили внешний вид сайта, разработали дополнительные модули и функционал",
        }) %>
    </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>