<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_scrolling">

    <div class="container">
        <div class="case__title_wrapper">
            <h1 class="section-title-local section-title_space-bottom">Услуги</h1>
        </div>
    </div>

    <div class="container">
        <div class="service">
            <ul class="service-list">
                    <!-- <h2 class="service-list__title">Услуги</h2>  -->
                    <li class="service-list__item" ><a href="#" data-num="0" class="service-list__link active">UX/UI DESIGN</a></li>
                    <li class="service-list__item" ><a href="#" data-num="1" class="service-list__link">UX исселдования</a></li>
                    <li class="service-list__item" ><a href="#" data-num="2" class="service-list__link">Разработка сайтов</a></li>
                    <li class="service-list__item" ><a href="#" data-num="3" class="service-list__link">SMM</a></li> 
            </ul>
            <div class="service-description__list"> 
                <%= _.template(require('./_service.hbs'))({
                    active_class: "active",
                    title: "UX/UI design",
                }) %>
                <%= _.template(require('./_service.hbs'))({
                    active_class: "",
                    title: "UX исселдования",
                }) %>
                <%= _.template(require('./_service.hbs'))({
                    active_class: "",
                    title: "Разработка сайтов",
                }) %>
                <%= _.template(require('./_service.hbs'))({
                    active_class: "",
                    title: "SMM",
                }) %>
            </div>
            <div class="service-background">
                <img src="./files/img/service/service_background.png" alt="service_background_img" class="service-background__img">
            </div>  
        </div>
     
        </div>
</section>
<%= _.template(require('./_footer.hbs'))(data) %>