<%= _.template(require('./_header.hbs'))(data) %>
<section class="first-slide_scrolling">
    <div class="container">
        <div class="case__title_wrapper">
            <h1 class="section-title-local section-title_space-bottom">Вакансии</h1>
        </div>
    </div>

    <div class="container">
        <div class="vacancies">
            <div class="service-list">
                <div class="vacancies_list__item"><a class="vacancies__list__link_all active" href="#">Все</a></div>
                <ul class="service-list_wrap">
                    <li class="vacancies_list__item" ><a href="#" class="vacancies__list__link" data-name="development">Разработка</a></li>
                    <li class="vacancies_list__item" ><a href="#" class="vacancies__list__link" data-name="management">Менеджмент</a></li>
                    <li class="vacancies_list__item" ><a href="#" class="vacancies__list__link" data-name="design">Дизайн</a></li>
                    <li class="vacancies_list__item" ><a href="#" class="vacancies__list__link" data-name="data-base">Аналитика</a></li>
                </ul>
            </div>
                <div class="service-description__list">
                    <div class="vacancies__description__wrap">
                        <div class="vacancies__description__content">
                            <p>Мы молодая команда, которая разрабатывает сайты, мобильные приложения и собственные проекты. Себе в команду ищем того, с кем мы сможем идти в одном ритме. Верим, что хороших специалистов много и к нам придет именно наш мастер.</p>
                            <div>Что мы предлагаем:</div>
                            <ul>
                                <li>работа на полный рабочий день</li>
                                <li>гибкий график работы</li>
                                <li>работа в режиме home-office или в уютном офисе для жителей г. Пензы</li>
                                <li>прокачка профессиональных и личностных качестве с наставником</li>
                                <li>интересный коллектив</li>
                            </ul>
                        </div>
                    </div>
                    <div class="vacancies__description__content__parent" data-name="development">
                        <div class="vacancies__description__content__wrap">
                            <h4>Full-stack Web-программист Bitrix</h4>
                            <ul>
                                <li>Опыт работы с Bitrix-ом от 2 лет</li>
                                <li>Умение работать в команде</li>
                                <li>Хорошее знание Git</li>
                                <li>Стеки: PHP, ООП, Bitrix, Глубокое понимание API D7, (будет плюсом Laravel или Symfony), Rest Api, HTML, CSS, JavaScript (jQuery), XML, AJAX;SQL, MySQL</li>
                                <li>Хорошие навыки работы с версткой, соблюдение правил кроссбраузерности и адаптивности;</li>
                                <li>Участие в разработке крупных систем (Front end и Back end) сервиса</li>
                                <li>Высокий уровень понимания концепций API сторонних сервисов</li>
                            </ul>
                        </div>
                        <div class="vacancies__description__content_button">
                            <button class="vacancies__open__modal">Откликнуться</button>
                        </div>
                    </div>
                    <div class="vacancies__description__content__parent" data-name="development">
                        <div class="vacancies__description__content__wrap">
                            <h4>Full-stack Web-программист Bitrix</h4>
                            <ul>
                                <li>Опыт работы с Bitrix-ом от 2 лет</li>
                                <li>Умение работать в команде</li>
                                <li>Хорошее знание Git</li>
                                <li>Стеки: PHP, ООП, Bitrix, Глубокое понимание API D7, (будет плюсом Laravel или Symfony), Rest Api, HTML, CSS, JavaScript (jQuery), XML, AJAX;SQL, MySQL</li>
                                <li>Хорошие навыки работы с версткой, соблюдение правил кроссбраузерности и адаптивности;</li>
                                <li>Участие в разработке крупных систем (Front end и Back end) сервиса</li>
                                <li>Высокий уровень понимания концепций API сторонних сервисов</li>
                            </ul>
                        </div>
                        <div class="vacancies__description__content_button">
                            <button class="vacancies__open__modal">Откликнуться</button>
                        </div>
                    </div>
                    <div class="vacancies__description__content__parent" data-name="management">
                        <div class="vacancies__description__content__wrap">
                            <h4>Менеджмент</h4>
                            <ul>
                                <li>Опыт работы с Bitrix-ом от 2 лет</li>
                                <li>Умение работать в команде</li>
                                <li>Хорошее знание Git</li>
                                <li>Стеки: PHP, ООП, Bitrix, Глубокое понимание API D7, (будет плюсом Laravel или Symfony), Rest Api, HTML, CSS, JavaScript (jQuery), XML, AJAX;SQL, MySQL</li>
                                <li>Хорошие навыки работы с версткой, соблюдение правил кроссбраузерности и адаптивности;</li>
                                <li>Участие в разработке крупных систем (Front end и Back end) сервиса</li>
                                <li>Высокий уровень понимания концепций API сторонних сервисов</li>
                            </ul>
                        </div>
                        <div class="vacancies__description__content_button">
                            <button class="vacancies__open__modal">Откликнуться</button>
                        </div>
                    </div>
                    <div class="vacancies__description__content__parent" data-name="design">
                        <div class="vacancies__description__content__wrap">
                            <h4>Дизайн</h4>
                            <ul>
                                <li>Опыт работы с Bitrix-ом от 2 лет</li>
                                <li>Умение работать в команде</li>
                                <li>Хорошее знание Git</li>
                                <li>Стеки: PHP, ООП, Bitrix, Глубокое понимание API D7, (будет плюсом Laravel или Symfony), Rest Api, HTML, CSS, JavaScript (jQuery), XML, AJAX;SQL, MySQL</li>
                                <li>Хорошие навыки работы с версткой, соблюдение правил кроссбраузерности и адаптивности;</li>
                                <li>Участие в разработке крупных систем (Front end и Back end) сервиса</li>
                                <li>Высокий уровень понимания концепций API сторонних сервисов</li>
                            </ul>
                        </div>
                        <div class="vacancies__description__content_button">
                            <button class="vacancies__open__modal">Откликнуться</button>
                        </div>
                    </div>
                    <div class="vacancies__description__content__parent" id="vacation_get_input_hidden" data-name="data-base">
                        <div class="vacancies__description__content__wrap">
                            <h4>Аналитика</h4>
                            <ul>
                                <li>Опыт работы с Bitrix-ом от 2 лет</li>
                                <li>Умение работать в команде</li>
                                <li>Хорошее знание Git</li>
                                <li>Стеки: PHP, ООП, Bitrix, Глубокое понимание API D7, (будет плюсом Laravel или Symfony), Rest Api, HTML, CSS, JavaScript (jQuery), XML, AJAX;SQL, MySQL</li>
                                <li>Хорошие навыки работы с версткой, соблюдение правил кроссбраузерности и адаптивности;</li>
                                <li>Участие в разработке крупных систем (Front end и Back end) сервиса</li>
                                <li>Высокий уровень понимания концепций API сторонних сервисов</li>
                            </ul>
                        </div>
                        <div class="vacancies__description__content_button">
                            <button class="vacancies__open__modal">Откликнуться</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="vacancies__popup">
    <form class="contact-form" method="GET" action="">
        <button type="button" class="contact-form__close-button"></button>
        <h2 class="application-form_title">Откликнуться на вакансию</h2>
        <input type="text" class="input" placeholder="Имя" name="name" />
        <input type="tel" class="input" id="tel" placeholder="Телефон*" name="tel" autocomplete="tel" required />
        <input type="text" class="input input_message" placeholder="Ваше сообщение" name="message" />
        <input type="hidden" class="vacancies__name" name="vacancies__name">
        <div class="input__wrapper">
            <input name="file" type="file" name="file" id="input__file" class="input input__file" multiple>
            <label for="input__file" class="input__file-button">
                <span class="input__file-icon-wrapper">
                    <img class="input__file-icon" src="./src/files/img/file.svg" alt="Выбрать файл" width="25">
                </span>
                <span class="input__file-button-text">Выберите файл</span>
            </label>
        </div>
        <input type="submit" class="input submit" name="submit" />
        <div class="personal_agree_block">
            <label for="personal" class="label label-personal">
                <input type="checkbox" id="personal" class="input" name="personal" required checked/>
            </label>
            <span class="personal-input">Я подтверждаю, что ознакомлен с <span class="user-agree">Пользовательским</span> соглашением и даю свое согласие на обработку персональных данных</span>
        </div>
    </form>
    <div class="success-popup" data-work="work_with_class_success">
        <button type="button" class="contact-form__close-button"></button>
        <div class="success-popup__message">
            Ваша форма отправлена, спасибо!
        </div>
    </div>
    <div class="personal-popup">
        <button class="personal-popup__close"></button>
        <div class="personal-popup__text">
            <h2>Пользовательское соглашение</h2>
            <p>
                Настоящее Пользовательское соглашение является публичной офертой и определяет условия использования сервисов (существующих и создаваемых в будущем) веб-сайта любыми пользователями сети Интернет, просматривающими Сайт (далее — Пользователи Сайта).
            </P>
            <p>
                Настоящее Пользовательское соглашение приравнивается к договору, составленному в письменной форме. Принимая настоящее Пользовательское соглашение, Пользователь выражает полное и безоговорочное согласие со всеми его условиями, в том числе, в части предоставления согласия на обработку персональных данных Пользователя на условиях, указанных в разделе 2 настоящего Пользовательского соглашения. В случае несогласия с данными условиями Пользователь должен покинуть Сайт.
            </P>
            <h4>Общие положения</h4>
            <p>
                Настоящее Пользовательское соглашение вступает в силу с момента размещения его на Сайте и действует в отношении всей информации, размещенной на сайте в информационно-телекоммуникационной сети «Интернет».
                Пользователь принимает условия настоящего Пользовательского соглашения в полном объеме путем нажатия кнопки подтверждения ознакомления с настоящим Пользовательским соглашением. Пользователь подтверждает свое ознакомление и согласие на использование файлов cookie.
                Cайт использует сервисы веб-аналитики Яндекс.Метрика. Собранная при помощи cookie информация не может идентифицировать Пользователя, при этом направлена на улучшение работы сайта. Информация об использовании Сайта, собранная при помощи cookie, будет передаваться Яндексу для обработки и оценки использования Сайта, составления отчетов о деятельности Сайта.
            </p>
            <h4>Персональные данные</h4>
            <p>
                В случае если отдельные сервисы Сайта предусматривают ввод персональных данных, такие персональные данные хранятся и обрабатываются в соответствии с принципами и правилами обработки персональных данных, предусмотренными Федеральным законом Российской Федерации от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
                В отношении персональных данных сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц.
                Сайт не передает персональные данные третьим лицам, если только такая передача не предусмотрена законодательством Российской Федерации.
                Администрация Сайта принимает необходимые организационные и технические меры для защиты персональных данных от использования, не предусмотренного настоящим Пользовательским соглашением.
            </p>
            <h4> Обязательства Пользователя </h4>
            <p>
                Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие законодательство Российской Федерации или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы сервисов Сайта и Сайта в целом.
                Использование материалов Сайта без согласия правообладателей не допускается.
            </p>
            <p>
                При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна.
            </p>
            <p>
                Администрация Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте.
                Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, доступными на Сайте или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
            </p>
            <h4>Прочие условия</h4>
            <P>
                Все возможные споры, вытекающие из настоящего Пользовательского соглашения или связанные с ним, подлежат разрешению в соответствии с законодательством Российской Федерации.
                Бездействие со стороны Администрации Сайта в случае нарушения Пользователем положений Пользовательского соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
                Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Пользовательского соглашения. Такие изменения вступают в силу с момента размещения новой версии Пользовательского соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан покинуть Сайт, прекратить использование материалов и сервисов Сайта.
            </p>
        </div>
        <div class="personal-popup__overlay"></div>
    </div>
    <div class="contacts-us-popup_overlay"></div>
</section>

<div class="success-popup" data-work="work_with_class_success">
    <button type="button" class="contact-form__close-button"></button>
    <div class="success-popup__message">
        Ваша форма отправлена, спасибо!
    </div>
</div>

<%= _.template(require('./_footer.hbs'))(data) %>