$game-over_widht-pc: 670px;

.game-over_wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    & .container {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
    }
    @media (max-width: $pc_big), (max-height: $small_tablet) {
      height: calc(100vh - 110px);
    }
    @media (max-width: $phone), (max-height: $phone) {
      height: calc(100vh - 100px);
    }
    @media (max-height: $phone) and (orientation: landscape) {
      height: calc(100vh - 42px);
    }
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  width: $game-over_widht-pc;
  z-index: 1;
  & * {
      color: $ligh_color;
  }
/*
  @media (max-width: $tablet) {
    width: 90vw;
    height: 70%;
  }
   
  @media (max-height: $small_tablet) {
    transform: translate(-50%, -25%);
  }*/
  @media (max-width: $phone), (max-height: $phone) {
    top: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
  }
}

.game-over__img {
  display: block;
  margin: 0 auto;
  z-index: 10;

  @media (max-width: calc(#{$game-over_widht-pc} + 50px)) {
    width: 80vw;
  }

  @media (max-height: $phone-height_small_portrait) {
    height: 30vh;
    max-height: 150px;
  }
}

.game-over__title {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 96%;

  font-family: "Cuprum";
  font-size: 36px;
  text-align: center;
  word-break: break-word;
  white-space: normal;
  @media (max-width: calc(#{$game-over_widht-pc} + 50px)) {
    font-size: 28px;
  }
  @media (max-width: $phone), (max-height: $phone) {
    font-size: 14px;
  }
}

.game-over__wrapper {
  width: 100%; 
  margin-top: 40px;
  display: flex;
  justify-content: space-around;

  text-align: center;

  @media (max-height: $phone-height_small_portrait) {
    margin-top: 10px;
    height: 50px;
  }
}

.game-over__button {
 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 70px;

  background: rgba(0, 0, 0, 0.6);
  border-radius: 1px;

  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  transition: $transition;

  @media (max-width: $tablet) {
    width: calc( 50% - 10px );
  }

  @media (max-width: $phone), (max-height: $phone) {
    height: 64px;
    font-size: 24px;
  }
  @media (max-height: 360px) and (orientation: landscape) {
    height: 50px;
  }

  &:hover {
    background: #f31526;
    border-radius: 1px;
    color: #FFFFFF;
  }
}