/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
//ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  background-color: black;
}
.body {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 2000px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) { 
  -webkit-text-decoration-skip: ink; 
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 1420px;

  @media (min-width: 1440px) {
    width: 1420px;
  }
}

.main {
  overflow: hidden;
  * {
    //scrollbar styles
    scrollbar-color: #FFFFFF #4b4b4b;
    scrollbar-width: thin; 
  
    &::-webkit-scrollbar,&::-webkit-scrollbar-button {
      width: 3px;
      height: 3px;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 1px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #FFFFFF; 
      border-radius: 1px;
    } 
  }
  
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $phone) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: $small_tablet) {
  .container{
    max-width: 720px;
  }
}

@media (min-width: $tablet) {
  .container{
    max-width: 960px;
  }
}

@media (min-width: $pc) {
  .container{
    max-width: 1140px;
  }
}

@media (min-width: $pc-big) {
  .container{
    max-width: 1400px;
  }
}

@media (min-width: 2100px) {
  .container{
    max-width: 2000px;
  }
}


.middle-color {
  color: $middle_color !important;
}

.hide {
  display: none !important;
}

.static-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $dark_color;
}

.animation-bottom {
  transform: translate3d(0,350px,0);
  transition: 0.7s;
}
.animation-bottom.ready {
  transform: translate3d(0,0,0);
  transition: 0.7s; 
}

.animation-left {
  transform: translate3d(-100vw,0,0);
  transition: transform 0.7s;
}
.animation-right {
  transform: translate3d(+100vw,0,0);
  transition: transform 0.7s;
}

.animation-left.ready, .animation-right.ready {
  transform: translate3d(0,0,0);
  transition: 0.7s; 
}

.animation-opacity {
  opacity: 0;
  transition: 2s; 
}
.animation-opacity.ready {
  opacity: 1;
  transition: opacity 3s; 
}
.animation-bottom.animation-opacity {
  transition: opacity 4s, transform 1s;
}
.glide__slides {
  overflow: visible;
}

@mixin btn_hover {
  transition: background-color 0.4s;
  -webkit-tap-highlight-color: transparent;
  &:hover::after {
    width: 100%;
  }
}

@mixin link_hover {
  transition: color .3s ease;

  &:hover {
    color: #ff5466;
  }
}