.section-cases-deatil {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.cases-deatil__main-anchor {
    position: absolute;
    top: 0;
}

.cases-description {
    padding-left: 280px;
    width: 100%;
    margin-top: 20px;
    @media (max-width: $tablet) {
        padding-left: 240px;
    }
    @media (max-width: $small_tablet) {
        padding-left: 180px;
    }
    @media (max-width: $phone), (max-height: $phone) {
        padding-left: 0;
    }
}

.case_detail_hashtags {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.case_detail_hashtags div {
    color: red;
    margin: 0 10px 0 0 !important;
    cursor: pointer;
}

.case_detail_hashtags div:hover {
    color: red;
}

.cases-description__list {
    display: flex;
    flex-wrap: nowrap;
}

.cases-description__item {
    width: 100%;
    background-color: $ligh_color;
}

.cases-description__item-poster {
    width: 100%;
    height: auto;
}

.cases-deatil__item-poster-img {
    display: block;
    width: 100%;
    height: auto;
}

.cases-description__item-text {
    padding: 54px 90px;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: normal;
    text-transform: initial;
    color: #101010;
    & * {
        color: $dark_color;
    }
    & h2, h3, h3, h4, h5, h6 {
        margin-bottom: 0.42em;
        margin-top: 0.55em;
        font-family: "Bebas Neue";
        font-style: normal;
        font-weight: normal;
        font-size: 2.65em;
    }
    & h3, h4, h5, h6 {
        font-size: 2.05em;
    }
    & p, ul, li, div, span {
        margin: 1em 0;
        text-transform: initial;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        line-height: 1.5;
    }
    & .img_wrap, img {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
    & .anchor {
        display: block;
        max-height: 0px;
        max-width: 0px;
    }
    @media (max-width: $pc) {
        padding: 25px 40px;
    }
    @media (max-width: $small_tablet) {
        padding: 15px 20px;
        font-size: 14px;
    }
}

.cases-deatil__head {
    width: 100%;
    padding-top: 26px;

    @media (max-width: $phone), (max-height: $phone) {
        padding-top: 10px;
    }
    & .container {
        display: flex;
        flex-direction: column;
        padding: 0;
        @media (max-width: $phone), (max-height: $phone) {
            flex-direction: column-reverse;
        }
    }
    & .section-title {
        font-size: 64px;
    }
}

.cases-deatil__head-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: $pc) {
        flex-direction: column;
        align-items: flex-end;
    }
    @media (max-width: $phone), (max-height: $phone) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.cases-deatil__title-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

    & .section-title-local {
        @media (max-width: $tablet) {
            font-size: 48px;
            overflow: visible;
        }
        @media (max-width: $phone), (max-height: $phone) {
            white-space: initial;
            font-size: 36px;
        }
    }
    @media (max-width: $pc) {
        width: 100%;
    }
    @media (max-width: $phone), (max-height: $phone) {
        flex-direction: column;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.cases-deatil__title-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: lowercase;

    @media (max-width: $phone), (max-height: $phone) {
        margin: 17px 0;
    }
}

.cases-deatil__title-link-icon {
    min-width: 22px;
    min-height: 22px;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.cases-deatil__title-link-name {
    font-family: "Cuprum";
    text-transform: lowercase;

    @include link_hover;
}

.cases-deatil__arrow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.cases-deatil__button {
    display: flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
    background-color: transparent;

    font-family: "Cuprum";
    font-style: normal;
    font-weight: bold;
    font-size: 18px; 
    text-decoration: none;
    text-transform: initial;
    color: #FFFFFF;
    border: none;
    outline: none;
    &.disable {
        filter: brightness(0.7);
        -webkit-filter: brightness(0.7);
}
    & .right_align {
        text-align: right;
    }
    &:first-of-type {
        margin-left: 10px;    
        @media (max-width: $phone), (max-height: $phone) {
            margin: 0;
        }
    }
    @media (max-width: $tablet) {
        font-size: 14px;
    }
    @media (max-width: $phone), (max-height: $phone) {
        margin: 0;
        width: 120px;
    }

    & .command-head__right, .command-head__left {
        display: block;    
        margin: 0 10px; 
        min-width: 48px;
        width: 48px;
        min-height: 48px;
        height: 48px;
        background-color: transparent;
        border: 4px solid white;
        border-radius: 20%;
        z-index: 1;
        @media (max-width: $tablet) {
            min-width: 36px;
            width: 36px;
            min-height: 36px;
            height: 36px;
        }
        @media (max-width: $phone), (max-height: $phone) {
            min-width: 24px;
            width: 24px;
            min-height: 24px;
            height: 24px;
            border-width: 2px;
            &::after {
                height: 2px;
            }
            &::before {
                height: 2px;
            }
        }
    }
    & .command-head__right {
        margin-right: 0;
        &::after {
            transition: .3s ease;
            transform: translate(-50%, 76%) rotate(-45deg);
        }

        &::before {
            transition: .3s ease;
        }
    }

    & .command-head__left {
        margin-left: 0;
        &::after {
            transition: .3s ease;
            transform: translate(-50%, 100%) rotate(45deg);
        }

        &::before {
            transition: .3s ease;
        }
    }
    & .cases-deatil__button-text {
        margin: 0;
    }
}

.cases-deatil__button-text {
    transition: color .3s ease;
}
.cases-deatil__button:hover .cases-deatil__button-text {
    color: #ff5466;
}

.command-head__left, .command-head__right {
    transition: .3s ease;
}

.cases-deatil__button:hover .command-head__left, .cases-deatil__button:hover .command-head__right
{
    border-color: #ff5466;
}

.cases-deatil__button:hover .command-head__left:before,
.cases-deatil__button:hover .command-head__left:after,
.cases-deatil__button:hover .command-head__right:before,
.cases-deatil__button:hover .command-head__right:after {
    background: #ff5466;
}

.cases-deatil__description {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 264px;
    
    position: fixed;
    top: 280px;
    
    font-size: 28px;
    transition: 0.2s all;
    & * {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    }
    & a {
        text-decoration: none;
    }
    @media (max-width: $tablet) {
        max-width: 230px;
        font-size: 22px;
    }

    @media (max-width: $small_tablet) /*, (max-height: $small_tablet) */{
        max-width: 180px;
        font-size: 16px;
    }
    /*@media (max-height: 660px) and (orientation: landscape){
        font-size: 14px;
    }*/
    @media (max-width: $phone), (max-height: $phone) {
        position: relative;
        top: initial;
        margin: 0;
    }
}

.cases-deatil__description-callback {
    display: flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;
    transition: color .3s ease;

    font-size: 0.85em;
    text-decoration: none;
    @media (max-width: $phone), (max-height: $phone) {
        margin: 0;
    }
}

.cases-deatil__description-callback:hover span {
   @include link_hover;
}

.cases-deatil__description-callback-icon {

}

.cases-deatil__description-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 30px;

    font-size: 1.73em;
    @media (max-width: $phone), (max-height: $phone) {
        display: none;
    }
}

.cases-deatil__work-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 15em;
    overflow-y: auto;
    scroll-behavior: smooth;
    @media (max-height: 670px) {
        max-height: 12em;
    }
    @media (max-width: $phone), (max-height: $phone) {
        display: none;
    }
}

.cases-deatil__work-item {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px 0px 13px 0;
    padding: 0;
    @media (max-height: 670px) and (orientation: landscape){
        margin: 10px 0px 10px 0;
    }
}

.cases-deatil__work-link {
    position: relative;
    display: block;
    padding-right: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    font-size: 21px;
    text-decoration: none;

    &:hover {
        color: #ff5466;
    }
    //white-space: nowrap;
    @media (max-height: 660px) and (orientation: landscape){
        //margin: 10px 0px 10px 0;
        padding-right: 10px;
    }
    &::after {
        display: block;
        content: "";
        position: absolute;
        left: -6px;
        bottom: -15%;
        width: 0;
        height: 84%;
        background-color: $middle_color;
        z-index: -1;

        transition: $transition;
    }
    &:hover::after { 
        width: calc(100%);  
    }
    &.active::after { 
        width: calc(100%);  
    }
}

