.section-command {
    @media (min-width: $phone) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
}
.section-command .container{
    height: 100%;
}

.command { 
    position: relative;
    word-break: break-all;
    width: 100%;
    height: 100%;
    & * {
        color: $ligh_color;
    }
    @media (max-height: 1300px) { 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: $phone), (max-height: $phone) {
        padding-top: 10px;
    }
    @media (max-height: $phone) and (orientation: landscape){ 
        padding: 0; 
    } 
}

$command-head_height: 68px;
$command-head_height-phone: 45px;
.command-head {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.command-head__subtitle {
    @media (max-width: $head-mobile-width) {
        display: none;
    }
}
.command-head__arrow {
    position: absolute;
    top: 30px;
    right: 0;
    width: 120px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    @media (max-width: $phone), (max-height: $phone) {
        display: none;
        top: 10px;
    }
    @media (max-width: $head-mobile-width), 
    (max-height: $photo_row-direction_height) and (orientation: landscape) {
        width: 90px;
    } 
}
.command-head__right , .command-head__left {
    position: relative;
    width: 48px;
    height: 48px;

    background-color: transparent;
    border: 4px solid white;
    border-radius: 20%;
    z-index: 1;
    @media (max-width: $head-mobile-width),
    (max-height: $photo_row-direction_height) and (orientation: landscape) {
        width: 38px;
        height: 38px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 3px;
        background: white;
        border-radius: 2px;
        transform: translate(-50%, 150%) rotate(-45deg);
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 35%;
        height: 3px;
        background: white;
        border-radius: 2px;
        transform: translate(-50%, -150%) rotate(45deg);
    }
}

.command-head__left {
    &:after,:before {
        transform: translate(-50%, 150%) rotate(45deg);
    }
    &:before {
         transform: translate(-50%, -150%) rotate(-45deg);
    }
}
.photo { 
    width: 100%;
    @media (max-height: 1300px) { 
        height: -webkit-fit-content; 
        height: -moz-fit-content; 
        height: fit-content; 
    }
    @media (max-height: $tablet) { 
        height: 100%;
    }
    @media (max-height: $small_tablet) { 
        height: 100%;
    }
    @media (max-width: $phone) and (orientation: portrait) {
        overflow: hidden;
    }
}
.photo__list {
    display: flex;
    justify-content: space-between; 
    height: 100%; 
    
    transform: translate(0,0);
    transition: $transition;
    @media (max-height: 1300px) {
        flex-wrap: nowrap;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; 
    }
    @media (max-height: $tablet) { 
        height: 100%;
    }
    @media (max-height: $small_tablet) { 
        height: 100%;
    }
    @media (max-width: $phone)  and (orientation: portrait){
        padding-bottom: 20px;
    } 
    @media (max-width: $phone)  and (orientation: portrait) and (min-height: $photo_column-direction){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } 
    @media (max-height: $phone), (max-width: $phone) { 
        padding-top: 10px;
    }
    & .glide__slides {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        @media (max-width: $phone) and (orientation: portrait) {
            flex-wrap: nowrap;
        }
    }
}

.photo__item_wrap {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    @media (max-height: 1300px) {
        flex-direction: row; 
        height: -webkit-fit-content; 
        height: -moz-fit-content; 
        height: fit-content; 
    }
    @media (max-height: $tablet) { 
        height: 100%;
    }
    @media (max-height: $small_tablet) { 
        height: 100%;
    }
}

$photo__item_padding: 30px 27px;
.photo__item { 
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    margin-right: 15px;

    min-height: 34vh;
    height: 550px;
    max-height: 600px;
    min-width: calc(30%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 30%; 

    padding: $photo__item_padding;
    overflow: hidden;

    font-size: 16px;
    transition: $transition;
    border-radius: 0px 0px 1px 1px; 
    background-size: cover;
    background-position: top;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
    @media (max-width: $pc) {
        width: 45%;
        max-width: unset;

        font-size: 16px;
    }
    @media (max-width: $tablet) {
        height: 450px;
        font-size: 14px;
    }
    @media (max-width: $small_tablet) {
        width: 70%;
        height: 450px;
        font-size: 12px;
    }
    @media (max-height: $small_tablet) {
        min-width: calc(30%);
        height: 75vh; 
        font-size: 12px;
    }  
    @media (max-height: $phone) {
        font-size: 6px;
    }
 
    @media (max-width: $phone), (max-height: $phone){
        margin: 15px 15px 0 0;
        padding: 20px 17px; 
        padding: 5px 6px;
   } 
   @media (max-width: $phone) and (orientation: portrait){
       margin: 0;
        min-width: 80vw;
        width: 80vw;
        height: 97%;
        font-size: 12px;
    } 
    @media (max-width: $phone) and (max-height: $phone) and (orientation: portrait){
         font-size: 7px;
    } 
   @media (max-height: $phone) and (orientation: landscape){ 
        padding: 5px 6px; 
        font-size: 5px;
    } 
    @media (max-height: 576px) and (orientation: landscape) and (min-width: $small_tablet){ 
        min-width: calc(29%);
        width: 29%;
    } 
    @media (max-height: 576px) and (orientation: landscape) and (max-width: $small_tablet){ 
        min-width: calc(43%);
        width: 43%;
    } 
    @media (max-height: 480px) and (orientation: landscape) and (max-width: 500px){ 
        min-width: calc(45%);
    } 
}

.photo__item:hover {
    background-color: red;
    transition: $command_effect;
 
    & .photo__description {
        top: 0;
        transition: $command_effect;
        @media (max-width: $phone), (max-height: $phone) {
            top: 100%;
        }
    }
    & .photo__name-previously {
        transition: $command_effect;
    } 

    & .photo__wrapper { 
        &::-webkit-scrollbar {
            display: none; 
          } 
        &::-webkit-scrollbar-thumb {
            display: none; 
          }
    } 
}
.photo__item.click-active .photo__description{
    @media (max-width: $phone), (max-height: $phone) {
        top: 0;
    }
}

.photo__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
}
.photo__wrapper {
    //padding-right: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    //transform: translate(0);
    &::-webkit-scrollbar {
        display: none; 
      } 
    &::-webkit-scrollbar-thumb {
        display: none; 
      }
}

.photo__description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    padding: $photo__item_padding;

    font-size: 100%;
    z-index: 1; 
    background-color: $middle_color;
    transition: $transition;
    overflow: -moz-scrollbars-none;
    @media (max-height: $phone) and (orientation: landscape) {
        padding: 10px 20px;
    }
    & .photo__name {
        @media (max-height: 470px) and (orientation: landscape) {
            display: none;
        }
    }
}
.photo__name {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 3.55em;
    line-height: 1; 
}

.photo__name-previously { 
    padding: 15px 15px 15px 30px;
    bottom: 35px;
    width: 100%;
    min-width: 100%;
    
    background-color: $middle_color;
    transition: $transition; 
    @media (max-height: $small_tablet) {
        padding: 10px 10px 10px 20px;
        bottom: 20px;
    }
    @media (max-width: $phone), (max-height: $phone) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    & .photo__name, .photo__job-position {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

.photo__item:hover .photo__name-previously{
    transform: translateY(-700px);
    @media (max-width: $phone), (max-height: $phone) {
        transform: translateY(0);
    }
}

.photo__item.click-active .photo__name-previously{
    @media (max-width: $phone), (max-height: $phone) {
        transform: translateY(-700px);
    }
}

.photo__name-previously-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.photo__bio {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    @media (max-width: $phone), (max-height: $phone) {
        display: block;
    }
}

.photo__bio-icon {
    max-height: 50px;
    max-width: 40px;
}

.photo__job-position {
    margin-top: 10px;

    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 2em;  
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 5px;
    }
}

.photo__socials {
    margin-top: 15px;
    display: flex;
    z-index: -1;
}
.photo__social-link {
    display: block;
    margin-right: 25px;
    @media (max-width: $tablet) {
        margin-right: 15px;
    }
    @media (max-width: $small_tablet), (max-height: $phone) {
        margin-right: 10px;
    }
}
.photo__social-img {
    display: block;
    height: 20px;
    width: auto;
    @media (max-width: $small_tablet), (max-height: $phone) {
        height: 13px;
    }
}
.photo__description-text {
    margin-top: 26px;
    font-size: 1em; 
    white-space: normal;
    text-align: left;
    word-break: break-word;
    @media (max-height: 700px) and (orientation: landscape) {
        margin-top: 5px;
   } 

   & p {
    margin-bottom: 16px;
    font-family: "Cuprum";
    font-size: 1em; 
    text-transform: initial;
    @media (max-width: $phone)  and (orientation: portrait) 
    and (min-height: $photo_column-direction),
    (max-height: 700px) and (orientation: landscape) {
        margin-bottom: 5px;
   } 
   @media (max-width: $phone), (max-height: $phone) {
       font-size: 1.5em;
   }
   }
} 

.photo__dots {
    display: none;
    margin: 0;
    padding: 0;
    @media (max-width: $phone) and (orientation: portrait), 
    (max-height: $phone) and (orientation: portrait) {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%,0);
    }
    @media (max-height: $phone) and (orientation: landscape) { 
        transform: translate(-50%,10px);
    }
    & .photo__dot {
        display: block;
        margin-right: 6px;
        width: 8px;
        height: 8px;
        background-color: $ligh_color;
        &:hover {
            background-color: $middle_color;
        }
        &.active {
            width: 12px;
            height: 12px;
            background-color: $middle_color;
        }
        &.glide__bullet--active {
            width: 12px;
            height: 12px;
            background-color: $middle_color;
        }
    }
}

