.section-contacts {
    height: 100% !important;
    @media (max-width: $small_tablet){
        height: unset;
    }
    @media (max-width: $phone) and (orientation: portrait) {
        min-height: 89vh;
    }
}
.section-contacts .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-height: 100%;
    @media (max-width: $small_tablet) and (orientation: portrait) {
        flex-direction: column;
    }
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 50%;

    font-size: 24px;
    overflow: hidden;
    @media (max-width: 1440px)  {
        flex-direction: column;
        max-width: 47%;
    }
    @media (max-width: $pc)  {
        flex-direction: column;
    }
    @media (max-width: $tablet)  {
        max-width: 40%;
        font-size: 18px;
    }
    @media (max-width: $small_tablet) and (orientation: portrait) {
        flex-direction: row;
        max-width: unset;
    }
    @media (max-height: $small_tablet){
        font-size: 17px;
    }
    
    @media (max-height: $phone) and (orientation: landscape){
        flex-direction: column;
    }
    @media (max-width: $phone), (max-height: $phone){
        font-size: 14px;
    }
    @media (max-width: 430px), (max-height: 430px){
        font-size: 10px;
    }
}

.contact-info__title {
    width: 100%;

    font-family: "Bebas Neue";
    font-weight: bold;
    color: #FFFFFF;
}

.contact-info__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1.7em;
    width: 330px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    @media (max-width: 1440px) {
        margin-top: 1em;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}
.contact-info__wrapper-tel {
    @media (max-height: 400px) and (orientation: landscape) {
        justify-content: flex-start; 
    }
}
.contact-info__subtitle {
    margin: 0em 0.45em 0.89em 0;

    font-family: "Cuprum";
    font-weight: 400;
    font-style: normal;
    text-transform: initial;
    font-size: 1em;
}

.contact-info__link {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    @media (max-width: $phone), (max-height: $phone) {
        font-size: 2.2em;
    }

    & .contact-info_sub {
        font-size: 1em;
        color: $middle_color;
        text-transform: none;
        vertical-align: baseline;
    }
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
    width: 48%;
    max-width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 600px;
    padding: 42px 50px;

    font-size: 24px;
    background: linear-gradient(0deg, $ligh_color, $ligh_color);
    border-radius: 1px;
    @media (max-width: 1440px)  {
        width: 55%;
        padding: 30px 30px;
    }    
    @media (max-width: $tablet), (max-height: $tablet) {
        padding: 30px 30px;
    }
    @media (max-height: $tablet) and (orientation: landscape) and (min-width: $tablet){
        width: 45%;
    }
    @media (max-width: $small_tablet) and (orientation: portrait) {
        margin-top: 30px;
        width: 100%;
    }
    @media (max-height: $small_tablet) {
        font-size: 20px;
    }
    @media (max-height: 630px) and (orientation: landscape) {
        font-size: 16px;
    }
    @media (max-width: $phone){
        padding: 30px 15px;
        font-size: 12px;
    }
    @media (max-height: $phone) and (orientation: landscape){
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
        width: 100%;
        max-width: 50%;
    }
    @media (max-height: 450px){
        padding: 20px 10px;
    }
}

.contact-form__title {
    font-weight: bold;
    font-size: 68px;
    text-align: center;
}

.input {
    position: relative;
    height: 1.7em; 
    margin-bottom: 1.7em;
    padding-left: 7px;
    padding-right: 7px;
  
    font-family: "Cuprum";
    font-size: 1em;
    color: $dark_color;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dark_color; 
    z-index: 1;

    @media (max-width: $small_tablet) and (max-height: $small_tablet) {
        margin-bottom: 1.4em;
    }

    @media (max-width: $phone) and (orientation: portrait) {
      width: 100%;
      margin-bottom: 0.84em;
      font-size: 2em;
    }  
    @media (max-height: $phone) and (orientation: landscape){
        margin-bottom: 0.54em;
    }  
    &::-webkit-input-placeholder {
      font-family: "Cuprum";
      font-weight: 400;
      font-size: 1em;
      line-height: 1;
      color: $dark_color;
      opacity: 1;
      @media (max-width: $phone){
          font-size: 1em;
      }
    }  
    &::placeholder, &::-webkit-input-placeholder, &::-moz-placeholder, &:-moz-placeholder {
      font-family: "Cuprum";
      font-weight: 400;
      font-size: 1em;
      line-height: 1;
      color: $dark_color;
      opacity: 1;
      @media (max-width: $phone){
          font-size: 1em;
      }
    } 
    
    &[type="text"] {
        @media (max-height: $phone) and (orientation: landscape){
            margin-bottom: 1.5em;
            width: 45%;
        }
    }
    &[type="tel"] {
        @media (max-height: $phone) and (orientation: landscape){
            width: 45%;
        }
    }
    &.input_message {
        @media (max-height: $phone) and (orientation: landscape){
            width: 100%;
        }
    }
  
    &[type="submit"] {
        margin-bottom: 0.4em;
        height: 1.95em;
    
        font-family: "Bebas Neue";
        font-weight: bold;
        font-size: 1.5em;
        line-height: 1;
        text-align: center;
    
        color: #ffffff;
    
        background: rgba(243, 21, 38, 0.8);
        border: none;
        border-radius: 1px;
        &:hover{
            background-color: $middle_color;
        }
    
        @media (max-width: $phone), (max-height: $phone){
            width: 100%;
            font-size: 2em;
        }
        @media (max-height: $phone) and (orientation: landscape) {
            height: 1.4em;
        }
    }
  
    &[type="checkbox"] { 
        margin-right: 10px;
        width: 14px;
        height: 14px; 
        margin: 0;

        -webkit-filter: grayscale(1);

                filter: grayscale(1);
        border: 1px solid $dark_color;
        @media (max-width: $phone), (max-height: $phone) {
            width: 24px;
            height: 24px; 
        }
    }
  
    &[type="file"] {
      border: none;
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      width: 210px;
  
  
    }
  }
  
  .application-form_title {
    margin-bottom: 0.58em;
    font-family: "Bebas Neue";
    font-weight: 700;
    font-size: 68px;
  
    text-align: center;
    color: $dark_color;
    @media (max-width: $tablet), (max-height: $tablet) {
      font-size: 48px;
    }
    @media (max-height: $small_tablet) {
        font-size: 32px;
      }
    @media (max-width: $phone), (max-height: $phone) {
      font-size: 28px;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        width: 100%;
    }
    @media (max-height: 450px) {
        margin-bottom: 0.38em;
        font-size: 30px;
      }
  }

  .personal_agree_block {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;

      .label-personal {
          position: relative;
          margin-right: 10px;
          padding-left: 10px;

          font-size: 14px;

          @media (max-width: $application-width_media) and (orientation: portrait) {
              margin: 0;
              margin-top: 20px;
          }

          @media (max-height: $application-height_media) and (orientation: portrait) {
              margin-top: 15px;
              font-size: 11px;
          }
      }

      .user-agree {
          color: $dark_color;
          -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
          font-weight: bold;
          cursor: pointer;
      }

      .personal-input {
          position: relative;
          display: block;
          width: fit-content;
          margin-left: 10px;

          line-height: 1;
          font-family: "Cuprum";
          font-weight: normal;
          color: $dark_color;
          text-align: left;
          text-transform: none;
          font-size: 14px;
      }
  }





.personal-popup {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: $transition;
    overflow: hidden;
    opacity: 0;
    &.active {
        display: block;
        left: 0;
        transition: $transition;
        opacity: 1;
        z-index: 5;
        & .personal-popup__text {
            display: block;
        }
    }
}

.personal-popup__overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.personal-popup__text {
    position: relative;
    display: none;
    padding: 60px;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: $ligh_color;
    overflow-y: hidden;
    overflow-y: scroll;

    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #101010;
    z-index: 2;
    @media (max-width: $pc) {
        padding: 20px 70px 20px 50px;
        font-size: 20px;
    }
    @media (max-width: $tablet) {
        padding: 20px 55px 20px 30px;
        font-size: 16px;
    }
    @media (max-width: $phone), (max-height: $phone) {
        width: 90%;
        height: 90%;
        padding: 20px 30px 20px 15px;
        font-size: 18px;
    }
    & * { 
        font-style: normal;
        font-weight: normal;
        color: #101010; 
        text-transform: initial;
    }
    & h1,h2,h3 {
        margin-bottom: 0.7em;
        font-family: "Bebas Neue";
        font-size: 2em;
        text-align: center;
    }
    & h4,h5,h6 {
        margin-bottom: 0.7em;
        font-family: "Bebas Neue";
        font-size: 1.5em;
    }
    & p,span {
        margin-bottom: 0.4em;
        font-family: "Cuprum";
        font-size: 1em;
        line-height: 1.1em;
    }
}

.personal-popup__close {
    display: block;
    position: fixed;
    top: 5%;
    right: 12%;
    width: 54px;
    height: 54px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 5;
    transition: 0;
    -webkit-tap-highlight-color: transparent;
    @media (max-width: $pc_big) {
        width: 44px;
        height: 44px;
    }
    @media (max-width: $tablet) {
        right: 12%;
    }
    @media (max-width: $phone), (max-height: $phone) {
        right: 7%;
        width: 36px;
        height: 36px;
    }
    &::after{
        display: block;
        position: absolute;
        content: "";
        width: 80%;
        height: 4px;
        transform: rotate(45deg);
        transition: transform 0.6s 1s;
        background-color: $dark_color;
    }
    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 80%;
        height: 4px;
        transform: rotate(-45deg);
        transition: transform 0.6s 1s;
        background-color: $dark_color;
    }
}
.personal-popup.active .personal-popup__close {
    transition: none;
    &::after{
        transform: rotate(-45deg);
    }
    &::before {
        transform: rotate(+45deg);
    }
}

.contacts-us-popup {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: $transition;
    overflow: hidden;
    opacity: 0;
    &.active {
        display: block;
        left: 0;
        transition: $transition;
        opacity: 1;
        z-index: 5;
        & .personal-popup__text {
            display: block;
        }
        & .personal-popup.active {
            z-index: 1;
        }
    }

    & .contact-form {
        top: 50%;
        left: 50%;
        position: absolute;
        z-index: 1;
        transform: translate(-50%, -50%);
        @media (max-width: $phone), (max-height: $phone) { 
            max-height: initial;
            height: 100%;
            max-width: unset;
            width: 100%;
            margin: 0;
            justify-content: flex-start;
        }
        @media (max-width: $phone) and (orientation: portrait) {
            padding-top: 50%;
        }
        @media (max-height: $phone) and (orientation: landscape) {
            justify-content: space-between;
        }
    }
    & .personal-popup {
        z-index: -4;
    }
}

.contacts-us-popup_overlay {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 105vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.contact-form__close-button {
    display: block;
    position: fixed;
    top: 1%;
    right: 1%;
    width: 54px;
    height: 54px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 5;
    transition: 0;
    -webkit-tap-highlight-color: transparent;
    @media (max-width: $pc_big) {
        width: 34px;
        height: 34px;
    }
    @media (max-width: $tablet) {
        right: 1%;
    }
    @media (max-width: $phone), (max-height: $phone) {
        right: 1%;
        width: 36px;
        height: 36px;
    }
    &::after{
        display: block;
        position: absolute;
        content: "";
        width: 80%;
        height: 4px;
        transform: rotate(45deg);
        transition: transform 0.6s 1s;
        background-color: $dark_color;
    }
    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 80%;
        height: 4px;
        transform: rotate(-45deg);
        transition: transform 0.6s 1s;
        background-color: $dark_color;
    }
}

.contacts-us-popup.active .contact-form {
    opacity: 1;
}
.contacts-us-popup.active.success .contact-form {
    opacity: 0;
}
.contacts-us-popup .contact-form {
    opacity: 0;
}

.contacts-us-popup.active.success .success-popup {
    padding: 40px;
    height: fit-content;
    overflow: hidden;

    @media (max-width: $small_tablet) {
        width: 75%;
    }

    @media (max-width: $phone) {
        width: 80%;
    }

    @media (max-width: $small_phone) {
        width: 90%;
    }
}

.success-popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    height: 0;
    overflow: hidden;
    
    font-family: "Bebas Neue"; 
    font-size: 48px;
    text-align: center;
    color: $dark_color;
    background-color: $ligh_color;
    z-index: 20;
    transform: translate(-50%, -50%);
    @media (max-width: $phone), (max-height: $phone) {
        font-size: 36px;
    }
}

.success-popup__message {

}