@font-face {
    font-family: 'Bebas Neue';
    src: local('BebasNeue-Bold'), local('BebasNeue Bold'),
        url('../files/fonts/Bebas_Neue/BebasNeue-Bold.ttf'),
        url('../files/fonts/Bebas_Neue/BebasNeue-Bold.eot') format('embedded-opentype'),
        url('../files/fonts/Bebas_Neue/BebasNeue-Bold.woff') format('woff'),
        url('../files/fonts/Bebas_Neue/BebasNeue-Bold.otf') format('opentype'),
        url('../files/fonts/Bebas_Neue/BebasNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum'),
        url('../files/fonts/Cuprum/Cuprum-Bold.ttf'),
        url('../files/fonts/Cuprum/Cuprum-Bold.eot') format('embedded-opentype'),
        url('../files/fonts/Cuprum/Cuprum-Bold.woff') format('woff'),
        url('../files/fonts/Cuprum/Cuprum-Bold.otf') format('opentype'),
        url('../files/fonts/Cuprum/Cuprum-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
} 
@font-face {
    font-family: 'Cuprum';
    src: local('Cuprum'),
        url('../files/fonts/Cuprum/Cuprum-Regular.ttf'),
        url('../files/fonts/Cuprum/Cuprum-Regular.eot') format('embedded-opentype'),
        url('../files/fonts/Cuprum/Cuprum-Regular.woff') format('woff'),
        url('../files/fonts/Cuprum/Cuprum-Regular.otf') format('opentype'),
        url('../files/fonts/Cuprum/Cuprum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
