.first-slide, .first-slide_footer {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 100px;

    font-family: "Bebas Neue";
    font-weight: bold;
    color: $ligh_color;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    & * {
        color: $ligh_color;
    }
    @media (max-width: $phone) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding-top: 75px;
        padding-bottom: 32px;
    }
    @media (max-height: $phone) and (orientation: landscape){
        height: 100vh;
        padding-top: 75px;
        padding-bottom: 32px;
    }
}

.first-slide_footer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    @media (max-width: $pc_big), (max-height: $small_tablet){
        height: calc(100vh - 110px);
    }
    @media (max-width: $phone),  (max-height: $phone){
        padding: 40px 0 0 0;
        height: calc(100vh - 90px);
    }
    @media (max-height: $phone)  and (orientation: landscape) {
        padding: 45px 0 0 0;
        height: calc(100vh - 45px);
    }
}

.first-slide_scrolling {
    padding-top: 140px;

    font-family: "Bebas Neue";
    font-weight: bold;
    color: $ligh_color;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: cover;
    & * {
        color: $ligh_color;
    }
    @media (max-width: $phone), (max-height: $phone) {
        padding-top: 80px;
    }
}

.head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 144px;
    @media (max-width: $pc-big) {
        font-size: 110px;
    }
    @media (max-width: $pc) {
        font-size: 95px; 
    }
    @media (max-width: $tablet) {
        font-size: 65px; 
    }
    @media (max-width: $small_tablet) {
        font-size: 56px;  
    }
    @media (max-width: 500px) {
        font-size: 48px;  
    }
    @media (max-width: 480px) {
        font-size: 38px;  
    }
    @media (max-width: 400px) {
        font-size: 28px;  
    }
}

.head_wrapper {
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 415px;

    
    @media (max-width: $pc-big) {
        justify-content: center;
        height: 315px;
    }
    @media (max-width: $pc) {
        height: 275px;
    }
    @media (max-width: $tablet) {
        height: 195px; 
    }
    @media (max-width: $small_tablet) {
        height: 135px; 
    }
    @media (max-width: 500px) {
        height: 115px; 
    }
    @media (max-width: 410px) {
        height: 85px; 
    }
}

.z1-logo_wrapper {
    height: 100%;
    max-height: 100%;
}

.z1-logo {  
    padding-top: 2px;
    height: 100%; 
    display: flex;
    align-items: center;
    @media (max-width: $phone), (max-height: $phone) {
        padding: 0;
    }
}

.z1-logo__img {
    display: block;  
    width: auto;
    height: 96%;
    @media (max-width: $phone), (max-height: $phone) {
        height: 98%;
    }
}

.head__text_wrapper {
    display: flex; 
}

.head__text {
    display: flex;
    align-items: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    font-size: 1em;
    white-space: nowrap;
}



.head__connection_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 71px;
    @media (max-width: $phone), (max-height: $phone) {
        margin-top: 35px;
    }
    @media (max-height: $phone-height) {
        margin-top: 10px;
    }
}

.head__connection {
    position: relative;
    max-width: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.index .head__connection {
    height: 90px;
    @media (max-width: $small_tablet), (max-height: $small_tablet) {
        height: 64px; 
    }
    @media (max-height: $phone-height) {
        height: 54px; 
    }
}

.head__connection-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 90px;

    font-family: "Bebas Neue";
    font-size: 36px;
    text-decoration: none;
    background-color: $middle_color;
    border-radius: 2px;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    color: $ligh_color;
    cursor: pointer;
    @include btn_hover;
    transition: height 0.5s;

    @media (max-width: $small_tablet), (max-height: $small_tablet) {
        max-width: 100%;
        width: 328px;
        height: 64px; 

        font-size: 24px;
    }
    @media (max-height: $phone-height) {
        max-width: 100%;
        width: 228px;
        height: 54px; 

        font-size: 24px;
    }
}

.advantage {
    padding-top: 1.05em;
    padding-bottom: 1.55em;
    background-color: $ligh_color;

    font-family: "Bebas Neue";
    font-size: 96px;
    text-decoration: none;
    @media (max-width: $tablet), (max-height: $small_tablet) { 
        font-size: 66px;
    }
    @media (max-width: $small_tablet), (max-height: $small_phone)   { 
        font-size: 46px;
        padding-bottom: 1.45em;
    }
    @media (max-width: $phone), (max-height: $phone) { 
        padding-bottom: 0;
        font-size: 36px;
    }
    @media (max-width: $small_phone) { 
        font-size: 28px;
    }
}

.advantage_wrapper {

}

.advantage-title_wrapper{

}

.advantage-title{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
}

.advantage-case_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px; 
    text-decoration: initial;
    & * {
        text-decoration: initial;
    }
}

.advantage-case{
    position: relative; 
    padding: 0.62em 0.62em 1.57em 0.62em; 
    width: calc(50% - 30px/2);

    background: #FDFDFD;
    border: 2px solid $dark_color;
    transition: $transition;
    margin-bottom: 70px;
    @media (max-width: $phone), (max-height: $phone) {
        margin-bottom: 70px;
    }
    &:hover {
        background-color: $dark_color;
        transition: $transition;
        & .advantage-case__title {
            color: $ligh_color;
            transition: $transition;
        }
    } 
}

.advantage-case__title{
     & span {
         display: block;
     }
}

.advantage-case__title-up{
    font-size: 0.428em;
}

.advantage-case__title-down{ 
    margin-top: 0.55em;

    font-size: 0.642em;
}

.advantage-case__detail-wrapper{
    position: absolute;
    bottom: 0;
    right: 40px;

    transform: translateY(50%);
    @media (max-width: $phone), (max-height: $phone) {
        width: 100%;
        right: 0;
        transform: translateY( calc(100% + 10px) );
    }
}

.advantage-case__detail{
    display: block;
    padding: 0.75em 1.2em;

    font-size: 0.375em;
    color: $ligh_color;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    background-color: $middle_color;

    &:hover {
        color: #ff5466;
    }

    @include btn_hover;
    @media (max-width: $phone), (max-height: $phone) {
        font-size: 0.485em;
    }
}

.section-title {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 96px;
    font-family: "Bebas Neue";
    z-index: 2;
    transition: $transition;
    @media (max-width: $tablet),  (max-height: $tablet){
        font-size: 64px;
    }
    @media (max-width: $phone),  (max-height: $phone){
        font-size: 36px;
        & br {
            display: none;
        }
    }
    & span {
        display: block;
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        transition: $transition;
    }
}
.section-title-local {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 68px;
    font-family: "Bebas Neue";
    z-index: 2;
    @media (max-width: $tablet),  (max-height: $tablet){
        font-size: 58px;
    }

    @media (max-width: $small_tablet),  (max-height: $small_tablet){
        font-size: 48px;
    }

    @media (max-width: $phone),  (max-height: $phone){
        font-size: 36px;
    }
    & span {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

span.title-line {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 0;
    height: 0.45em;

    font-size: 1em;
    font-family: "Bebas Neue"; 
    background-color: $middle_color;
    z-index: -1;
    transition: $transition;
    &.active {
        position: absolute;
        width: calc(100% + 10px + 26px);
        transition: $transition;
    }
}


//// about-us

.about-us {
    padding: 4.15em 0;

    font-size: 36px;
    background-size: cover;
    & * {
        color: $ligh_color;
        text-decoration: none;
    }
    @media (max-width: $pc) { 
        font-size: 30px;
    }
    @media (max-width: $tablet) /*, (max-height: $small_tablet) */ { 
        padding: 1.15em 0;
        font-size: 26px;
    }
    @media (max-width: $phone) { 
        padding: 1.15em 0;
    }
}

.about-us_wrapper { 
}

.about-us__title_wrapper {

}

.about-us__title {
    width: -webkit-fit-content ;
    width: -moz-fit-content ;
    width: fit-content ;
}

.about-us__description_wrapper { 
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $small_tablet) { 
        flex-direction: column-reverse;
    }
}

.about-us__text_wrap {  
    font-size: 0.50em;
    line-height: 1.13em;

    & h2, h3, h4, h5, h6 {
        font-size: 1.33em;
    }

    & p, h2, h3, h4, h5, h6 {
        margin-bottom: 0.9em;

        font-family: "Cuprum";
        text-align: left;
    } 

    & p { 
        margin-bottom: 1.9em;
    } 
    & strong {
        font-size: 1.1em;
    }

}

.about-us__photo_wrap, .about-us__text_wrap {
    width: 45%; 
    @media (max-width: $small_tablet) {
        width: 100%;
    }
}

.about-us__photo_wrap { 
    height: -webkit-fit-content; 
    height: -moz-fit-content; 
    height: fit-content;
    max-height: 400px;
    max-width: 600px; 
    @media (max-width: $small_tablet) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-height: initial;
        max-width: initial; 
    }
    @media (max-height: $small_tablet) and (min-width: $small_tablet) {
        max-height: 75vh;
    }
    @media (max-width: $phone) {
        display: flex;
        justify-content: center;
        margin-left: -15px;
        width: 100vw;
    }
}

.about-us__photo {
    position: relative; 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content; 
    height: -webkit-fit-content; 
    height: -moz-fit-content; 
    height: fit-content;
    @media (max-width: $small_tablet) {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        max-height: inherit;
        max-width: inherit;
     }
    &::before {
        display: block;
        content: "";
        position: absolute;
        top: -15px;
        left: 40px;
        width: 96%;
        height: 100%;
        background-color: $ligh_color;
        z-index: 0;
        @media (max-width: $small_tablet) {
            display: none;
         }
    }
}

.about-us__photo-img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    @media (max-height: $small_tablet) {
        max-height: 75vh;
    }
} 
.about-us__photo-link_wrapper {
    position: absolute;
    bottom: -24px;
    left: -30px;
    @media (max-width: $small_tablet) {
        position: relative;
        display: flex;
        justify-content: center;
        bottom: inherit;
        left: inherit;
        margin: 25px 0;
        padding: 0 15px;
     }
}

.about-us__photo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.82em 1.64em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    font-family: "Bebas Neue";
    background-color: $middle_color;
    border-radius: 2px;

    &:hover {
        color: #ff5466;
    }

    @include btn_hover;
    @media (max-width: $phone) {
        width: 100%;
     }
}


//blog-case

.blog {
    margin-bottom: 90px;
    background-size: cover;
    & * {
        color: $ligh_color; 
    }
}

.blog_wrapper {

}

.blog-title_wrapper {

}

.blog-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.blog__cases-list {
    overflow: hidden;
}

.blog__cases-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    & * { 
        font-family: "Cuprum";
        font-style: normal;
        font-weight: normal;
        text-transform: initial;
        white-space: normal;
    }
    @media (max-width: $phone) and (orientation: portrait), (max-height: $phone) and (orientation: portrait) {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        flex-wrap: nowrap;
    }
}
.first-slide_scrolling .blog__cases-wrapper{
    @media (max-width: $phone), (max-height: $phone) {
        flex-direction: column;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        flex-wrap: wrap;
        align-items: center;
    }
    & .blog__case {
        @media (max-width: $phone) and (orientation: portrait), (max-height: $phone) and (orientation: portrait){
            margin-right: 0;
            min-width: 80vw;
            font-size: 12px;
        }
    }
}
.blog__case {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;
    margin-top: 40px;

    font-size: 18px;
    @media (max-width: $phone), (max-height: $phone){ 
        margin-right: 20px;
        min-width: 80vw;
        width: 100%;
        max-width: unset;
        font-size: 12px;
    }
    @media (max-height: $phone) and (orientation: landscape){
        margin-right: 20px;
        min-width: 30%;
        width: 43%;
        font-size: 12px;
    }
}
.glide__slides .blog__case{
    @media (max-width: $phone) and (orientation: portrait), (max-height: $phone) and (orientation: portrait){
        padding: 0 3px; 
        margin-right: 0;
    }
}

.blog__case_wrpap {
    width: 100%;
}

.blog__case-info {
    display: flex;

    font-size: 0.9em;
}   

.blog__case-date {

}

.blog__case-author {
    margin-left: 8px;

    font-size: 1em;
    font-weight: normal;
}

.blog__case-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%; 
    height: auto;
    overflow: hidden;
    @media (max-width: $phone), (max-height: $phone)  {
        max-height: 200px;
    }
}

.blog__case-thumb-img {
    display: block;
    max-width: 100%;
    height: 100%;
    @media (min-width: $small_tablet) {
        width: 100%;
    }
    @media (max-width: $phone), (max-height: $phone)  {
        max-height: 200px;
    }
}

.blog__case-title_wrap {
    margin-top: 30px; 
}

.blog__case-title {
    font-family: "Bebas Neue";
    font-size: 2.68em; 
    @media (max-width: $pc) {
        font-size: 2.2em; 
    }
    @media (max-width: $tablet) {
        font-size: 2em; 
    }
    @media (max-width: $phone) {
        font-size: 1.5em; 
    }
}

.blog__case-description_wrap {
    margin-top: 30px;
}

.blog__case-description {

}

.blog__case-description p {
    font-size: 1em;
    line-height: 1.22em;
    white-space: normal;
}

.blog__case-button_wrap {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
    width: 100%;
}

.blog__case-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5em;

    font-family: "Bebas Neue";
    font-size: 2em;
    text-decoration: none;
    background-color: $middle_color;
    @include btn_hover;
    @media (max-width: $pc), (max-height: $small_tablet) {
        height: 2em;
    }
    @media (max-width: $phone), (max-height: $phone) {
        height: 1.7em;
    }
}

.blog__more-article_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.blog__more-article {
    display: flex;

    font-family: "Bebas Neue";
    text-decoration: none;
}

.blog__more-article-text {
    font-size: 2em;
    text-decoration: none;
    @media (max-width: 340px) {
        font-size: 1.8em;
    }
}

.blog__more-article-icon_wrapper {
    margin-left: 20px;
}
// contacts

.main-contacts__title {
    color: $ligh_color;
}

.main-contacts {
    position: relative;
}

.main-contacts_wrapper {
    position: relative;
    margin-top: 30px;
    padding-top: 30px;
    & * {
        color: $dark_color;
    }
    & .container {
        z-index: 1; 
    }
}

.main-contacts__contacts {
    position: absolute;
    padding: 30px 0 0 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    bottom: 50%;
    transform: translate(0, 50%);

    font-size: 24px;
    z-index: 2;
    @media (max-width: $small_tablet), (max-height: $small_tablet) {
        font-size: 18px;
    }
    @media (max-width: $phone), (max-height: $phone) {
        font-size: 14px;
    }
    @media (max-width: $phone-height), (max-height: $phone-height){
        font-size: 10px;
    }
    @media (max-height: $phone) and (orientation: landscape) {
        padding: 0 0 0 0;
        bottom: 53%;
    }
}

.main-contacts__contacts-item {
    display: flex;
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 2em;
    @media (max-height: $phone) {
        margin-bottom: 0;
    }
}

.main-contacts__contacts-title{
    margin-bottom: 1.45em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    font-family: "Curpum";
    font-weight: normal;
    font-size: 1em;
    @media (max-height: $phone) {
        margin-bottom: 0.85em;
    }
}

.main-contacts__contacts-link {
    margin-bottom: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    @media (max-width: $phone), (max-height: $phone) {
        font-size: 2.4em;
    }
    @media (max-height: $phone) {
        margin-bottom: 5px;
    }
}

.main-contacts__map {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.map {
    width: 100%;
    height: 100%;
    max-height: 900px;
    height: calc( 100vh - 100px ); 
    @media (max-height: $phone) and (orientation: landscape) {
        height: calc( 100vh - 45px );  
    }
    @media (max-width: $phone) and (orientation: portrait) {
        height: 135vw;  
        max-height: calc( 100vh - 45px );  
    }
}
 
.ymaps-2-1-78-map .ymaps-2-1-78-ground-pane ymaps .ymaps-2-1-78-user-selection-none, ymaps canvas {
 	filter: grayscale(1) brightness(1.05);
	-ms-filter: grayscale(1) brightness(1.05);
	-webkit-filter: grayscale(1) brightness(1.05);
	-moz-filter: grayscale(1) brightness(1.05);
	-o-filter: grayscale(1) brightness(1.05);  
}

.ymaps-2-1-78-placemark-overlay {
    transform: translate(0,-10px);
    transition: transform 0.8s linear;
}
.ymaps-2-1-78-placemark-overlay.active {
    transform: translate(0,10px);
    transition: transform 1s cubic-bezier(.48,1.95,.71,-0.55);
}