.service {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: $tablet), (max-height: $phone) {
        flex-direction: column;
    }

    @media (max-height: $service-height_tablet) {
        padding-top: 5px;
    }
    @media (max-width: $phone) and (orientation: portrait) {
        padding: 0;
        flex-direction: column;
    }
}

.service-list {
    width: 30%;
    max-width: 30%;
    
    font-size: 48px;
    z-index: 1;  
    overflow: hidden;
    @media (max-width: $pc-big) {
        font-size: 38px;
    }
    @media (max-width: $tablet), (max-height: $phone) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
    }
    @media (max-width: $small_tablet) {
        font-size: 28px;
    }
    @media (max-width: $phone) {
        font-size: 18px;
    }
}

.service-list__item {
    position: relative;
    margin-bottom: 0.42em;
    width: fit-content; 
    max-width: 100%;

    font-weight: bold; 
    z-index: 1; 
    @media (max-width: $tablet), (max-height: $phone) {
        width: 48%;
        &.active {
            background-color: $middle_color;
        }
    }
} 
.service-list__link {
    display: inline-block;
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none; 
    max-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        color: #ff5466;
    }

    &.active {
        @media (max-width: $tablet) {
            background-color: $middle_color;
        }
    }

    @media (max-width: $tablet), (max-height: $phone)  {
        padding: 0.3em 0em;

 
        max-height: unset;  
        overflow: unset;  
        text-overflow: unset;
        text-align: center;
        white-space: unset;  
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        @include btn_hover;
    }
  
    $offset: -6px;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 35%;
        left: $offset;
        width: 0;
        height: 70%;

        z-index: -1;
        transition: $transition;
        @media (max-width: $tablet) {
            display: none;
        }
    }

    &:hover:before {   
        width: calc(100% + #{$offset} + 55px);
        height: 70%;

        background: #f31526;
        z-index: -1;
        transition: $transition;
        @media (max-width: $tablet) {
            display: none;
        }
    }
    &.active:before {   
        width: calc(100% + #{$offset} + 55px);
        height: 70%;

        background: #f31526;
        z-index: -1;
        transition: $transition;
        @media (max-width: $tablet) {
            display: none;
        }
    }
}
.service-description__list {
    width: 70%;
    max-width: 960px;
    height: 100%;
    margin-left: 35px;

    font-size: 18px;

    @media (max-width: $pc) { 
        max-width: 70%;
      }
    
    @media (max-width:  $tablet), (max-height: $phone)  {
        margin: 0;
        max-width: unset;
        width: 100%;
    }
}
.service-description.active {
    display: flex;
}

.service-description { 
    width: 100%;
    height: 100%;
    padding: 3.6em 5em;
    display: none;
    justify-content: space-between;
    align-items: flex-start;

    background: $ligh_color;
    border-radius: 1px;
    font-size: 18px;
    @media (max-width: $pc-big) {
        padding: 2.6em 3em;
    }

    @media (max-width: $pc) {
        font-size: 16px;
    }
    @media (max-width: $small_tablet) {
        font-size: 14px;
    }

    @media (max-width: $phone) {
        padding: 1.6em 1.6em;
    }

    & * {
        color: $dark_color;
    }
}

.service-description__info {
    position: relative;
    width: 100%;
    height: 100%;
    
    @media (max-width: $phone) and (orientation: portrait) {
       width: 100%;
    } 
}

.service-description__info-title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 2.55em;
    line-height: 1; 
}

.service-description__info-block{ 
    & p, li, span, ul, div{
        font-style: normal;
        font-weight: normal;
        font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 16px;
        line-height: 1.5;
        text-transform: initial;
    }
}

.service-description__info-img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 21px;
}

.service-background {
    position: absolute;
    width: 45%;
    top: -190px;
    left: 20%;
    z-index: -1;
    @media (max-width: $phone), (max-height: $phone-height) {
        top: 0px;
    }
}

.service-background__img {
    width: 100%;
    height: auto;
}