.service-list__link {
  cursor: pointer;
}

.cases-description__item-text .img_wrap,
.cases-description__item-text img {
  height: auto !important;
  width: auto !important;
}

.blog__cases-list .blog__cases-wrapper {
  justify-content: flex-start;
}

.blog__cases-wrapper {

  .blog__case {
    display: flex;
    flex-direction: column;
    width: 31.3%;
    height: 100%;
    margin-right: 3%;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    @media screen and (max-width: 991px) {
      width: 48%;
      margin-right: 4%;

      &:nth-child(3n + 3) {
        margin-right: 4%;
      }
    }


    @media screen and (max-width: 767px) {

      &:nth-child(2n + 2) {
        margin-right: 0;
      }
    }
  }
}

.b24-widget-button-wrapper.b24-widget-button-position-bottom-right.b24-widget-button-visible {
  @media screen and (max-width: 575px) {
    display: none !important;
  }
}

.blog__case-title_wrap .blog__case-title {
  font-size: 1.5em;
}

.blog__case-title_wrap a {
  text-decoration: none;
}

body .header {
  width: 100%;
}

.burger-list {
  justify-content: center;
}

.burger-list__item .burger-list__link {
  font-size: 1.1em;
}

.burger-wrapper {
  justify-content: flex-end;
}

.navigation.active .burger-button__icon::before,
.navigation.active .burger-button__icon ::after {
  background-color: #FFFFFF;
}

.navigation.active .navigation__contacts .navigation__phone,
.navigation.active .navigation__contacts .navigation__email {
  display: block;
  opacity: 1;
  color: #000000;
  z-index: 25;
}

.header.active .navigation.active .burger-button {
  background-color: #000000;
  width: calc(68px - 10px);
  height: calc(68px - 10px);
}

.header.active .navigation.active .burger-button__icon::before,
.header.active .navigation.active .burger-button__icon ::after {
  background-color: #FFFFFF;
}

.navigation.active .burger-button {
  background-color: #000000;
  width: 68px;
  height: 68px;
}

.header.active .header__logo-wrapper {
  padding-top: 10px;
}

.header .header-logo-img svg {
  width: 84px;
  height: 40px;
}

.header.active .header-logo-img svg {
  width: 82px;
  height: 38px;
}

.section-title-local {
  font-size: 48px;
}

.cases-description__list {
  flex-direction: column;
}

.cases-deatil__title-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cases-deatil__title-link {
  margin-left: 0;
  margin-top: 12px;
}

.case_detail_arrow_content {
  margin-top: 0;
  width: 100%;
}

.cases__detail__wrap__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.service .service-list {
  margin: 0;
}

.cases-deatil_back_link {
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  margin-left: 4px;
}

.cases-deatil_back_svg svg {
  width: 16px;
  height: 16px;
}

.case__title__block__spacing {
  margin-top: 28px;
}

.case_detail_switch_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.case_detail_switch_block_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-top: 34px;
}

.command__button_arrow__left img {
  width: 40px;
  height: 40px;
}

.command__button__arrow__right img {
  width: 40px;
  height: 40px;
}

.command__button__arrow__right {
  margin-left: 10px;
}

.no_cases_detail_button {
  width: unset;
}

.command__button_arrow__left {
  margin-right: 10px;
}

.cases-deatil__work-list li a b:hover {
  color: #f31526;
}

.cases__detail__back__block {
  flex-direction: column;
}

.cases-deatil__description-title {
  font-size: 1.5em;
}

.case-hidden h5,
.case-hidden p {
  font-family: "Cuprum";
}

form .captcha_error_text {
  font-family: "Cuprum";
  text-transform: initial;
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  display: none;
}

form .captcha_error_text.error {
  display: block;
}

input[type=submit] {
  margin-top: 20px;

  @media (max-width: 767px) {
    margin-top: 15px;
    font-size: 1.2em;
  }
}

.parent_block_captcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacts {
  height: 100%;
}

.input_tel_parent {
  position: relative;
}

.input_tel_parent_text {
  font-family: "Cuprum";
  text-transform: initial;
  position: absolute;
  top: -20px;
  color: red;
  font-size: 14px;
  display: none;
}

.contact-form .input_tel_form {
  width: 100%;
}

.input_tel_parent_text.active {
  display: block;
}

.parent_block_captcha > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1440px) {
  .section-title-local {
    font-size: 58px;
  }

  .case_detail_switch_block_wrap {
    width: 50%;
  }

  .case__detail__description__position {
    top: 340px;
  }
}

@media screen and (max-width: 1200px) {
  .case_detail_switch_block_wrap {
    width: 60%;
    margin-top: 25px;
  }

  .command__button_arrow__left {
    margin-right: 8px;
  }

  .command__button_arrow__left img {
    width: 35px;
    height: 35px;
  }

  .command__button__arrow__right {
    margin-left: 8px;
  }

  .command__button__arrow__right img {
    width: 35px;
    height: 35px;
  }

  .cases-deatil__button .cases-deatil__button-text {
    font-size: 16px;
  }

  .case__detail__description__position {
    top: 326px;
  }
}

@media screen and (max-width: 991px) {

  .blog__cases-list .blog__cases-wrapper {
    width: 100%;
  }

  .blog__cases-wrapper .blog__case:nth-child(even) {
    margin-right: 0;
  }

  .cases-deatil__title-block .section-title-local {
    font-size: 38px;
  }

  .header .header-logo-img svg {
    width: 77px;
    height: 36px;
  }

  .header.active .header-logo-img svg {
    width: 75px;
    height: 34px;
  }

  .case_detail_switch_block_wrap {
    width: 100%;
  }

  .cases-deatil__button:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .blog__cases-wrapper .blog__case {
    width: 100%;
  }

  .blog__case-thumb .blog__case-thumb-img {
    height: auto;
  }

  .blog__cases-wrapper .blog__case {
    margin-right: 0;
  }

  .header .header-logo-img svg {
    width: 68px;
    height: 34px;
  }

  .header.active .header-logo-img svg {
    width: 66px;
    height: 32px;
  }

  .cases-deatil_back_link {
    font-size: 20px;
  }

  .cases-deatil_back_svg svg {
    width: 13px;
    height: 13px;
  }

  .contact-info {
    max-width: 30%;
  }

  .contact-info .contact-info__link {
    font-size: 1.4em;
  }

  .contacts .contact-form {
    padding: 15px;
    width: 65%;
  }

}

@media screen and (max-width: 575px) {
  .section__blog__img {
    width: 100%;
    max-height: 250px;
  }

  .section__blog__case__thumb {
    max-height: 250px;
  }

  .cases-deatil__title-link {
    display: none;
  }

  .cases-deatil__title-block {
    margin-top: 15px;
  }

  .header .header-logo-img svg {
    width: 52px;
    height: 20px;
  }

  .header.active .header-logo-img svg {
    width: 50px;
    height: 18px;
  }

  .header.active .header__logo-wrapper {
    padding-top: 8px;
  }

  .navigation .burger-button {
    width: 36px;
  }

  .navigation.active .burger-button {
    width: 36px;
    height: 36px;
  }

  .case__title__block__spacing {
    margin-top: 20px;
  }

  .cases-deatil__button .cases-deatil__button-text {
    font-size: 14px;
  }

  .command__button_arrow__left img {
    width: 32px;
    height: 32px;
  }

  .command__button__arrow__right img {
    width: 32px;
    height: 32px;
  }

  .contacts .contact-form {
    padding: 30px 15px;
    width: 100%;
  }
}

@media (max-width: 767px) and (orientation: portrait){
  .contact-info {
    max-width: unset;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 991px),  (max-height: 640px){
  .section-title-local {
    font-size: 38px;
  }

  .cases-deatil__description {
    top: 295px;
  }
}

@media (max-width: 410px) {
  .header.active .header-logo-img svg {
    width: 44px;
    height: 20px;
  }

  .header .header-logo-img svg {
    width: 48px;
    height: 24px;
  }

  .header__connection .head__connection-link {
    min-width: 100px;
    width: 100px;
    font-size: 14px;
  }

  .header__connection {
    left: 35%;
  }

  .header.active .navigation__contacts {
    font-size: 16px;
  }

  .header.active .navigation__email {
    font-size: 13px;
  }

  .header.active .header__logo-wrapper {
    padding-top: 8px;
  }

}

@media (max-height: 567px) {
  .header .header-logo-img svg {
    width: 62px;
    height: 22px;
  }

  .header.active .header-logo-img svg {
    width: 60px;
    height: 20px;
  }

  .navigation.active .burger-button {
    width: 36px;
    height: 36px;
  }

  .navigation .burger-button {
    width: 36px;
  }
}

@media (max-width: 410px) and (max-height: 620px) {

  .header .navigation__phone {
    font-size: 0.9em;
  }

  .header.active .navigation__phone {
    font-size: 0.8em;
  }

  .header .navigation__email {
    font-size: 13px;
  }

  .header.active .navigation__email {
    font-size: 12px;
  }

}

@media (max-width: 380px) {
  .g-recaptcha, .g-recaptcha div{
    overflow: hidden;
    max-width: 100%;
    width: 260px !important;
  }
  .g-recaptcha iframe, body > div[style]:last-of-type
  { transform: scale(0.85);
    transform-origin: left top;
  }
}

/*LOADER*/

#loader-wrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}
#loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color:white;
  border-radius:100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index:1001;
}
#loader:before {
  content:"";
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: yellow;
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content:"";
  position: absolute;
  top:12px;
  left:12px;
  right:12px;
  bottom:12px;
  border:3px solid transparent;
  border-top-color:orange;
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:#333;
  width:51%;
  height:100%;
  z-index:1000;
}

#loader-wrapper .loader-section.section-left {
  left:0
}
#loader-wrapper .loader-section.section-right {
  right:0;
}

.main-contacts__contacts-title {
  font-width: bild;
}

@media (min-width: 1600px) {
  .container_header {
    max-width: inherit !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

/* Loaded Styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
/*LOADER*/


/*Effects*/
.blog__case-title_wrap {
  margin-top: 10px;
}

.blog__cases-wrapper .blog__case-title_wrap {
  margin-top: 0;
}

.blog__case-thumb {
  margin-bottom: 30px;
}

.blog__case-thumb-img {
  transition: transform .4s ease;
}

.blog__case-title_wrap:hover .blog__case-thumb-img, .blog__case-thumb-img:hover {
  transform: scale(1.1);
}

.blog__more-article:hover .blog__more-article-text {
  color: #ff5466;
}

.blog__case-title, .blog__more-article-text {
  transition: color .3s ease;
}

.blog__case-title:hover{
  color: #ff5466;
}

/*Effects*/

.case-plus_wrapper_more {
  padding-top: 4px;
  padding-left: 10px;
}

.blog__case-description {
  width: 100%;

  p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 88px;
    height: fit-content;
    max-height: 88px;
  }
}
