
.form__universal__success__display {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.active {
    display: flex;
  }

  .form__universal__success__message {
    background-color: #FFFFFF;
    border: 3px solid #04B200;
    border-radius: 1px;
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: $tablet) {
      width: 400px;
      height: 200px;
    }

    @media (max-width: $small_tablet) {
      width: 300px;
      height: 160px;
    }

    .form__success__message__wrap {


      .form__success__message__svg {
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        svg {
          position: absolute;
          bottom: -50px;

          @media (max-width: $tablet) {
            width: 120px;
            height: 120px;
            bottom: 30px;
          }

          @media (max-width: $small_tablet) {
            width: 100px;
            height: 100px;
          }

          @media (max-width: $phone) {
            bottom: 20px;
          }
        }
      }

      .form__success__message__text {
        font-family: 'Cuprum';
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-transform: initial;
        color: #04B200;
        text-align: center;
        padding: 0 65px;

        @media (max-width: $tablet) {
          font-size: 24px;
          line-height: 28px;
          padding: 50px 30px;
        }

        @media (max-width: $small_tablet) {
          font-size: 20px;
          line-height: 26px;
          padding: 40px 10px;
        }
      }
    }
  }
}


.vacancies {
  position: relative;
  width: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  @media (max-width: $tablet), (max-height: $phone) {
    flex-direction: column;
  }

  @media (max-height: $service-height_tablet) {
    padding-top: 5px;
  }
  @media (max-width: $phone) and (orientation: portrait) {
    padding: 0;
    flex-direction: column;
  }
}

.captcha__text__error {
  font-family: "Cuprum";
  text-transform: initial;
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
  display: none;

  &.error {
    display: block;

  }
}

.vacancies_list__item {
  position: relative;
  margin-bottom: 0.2em;
  width: fit-content;
  max-width: 100%;

  font-weight: bold;
  z-index: 1;
  @media (max-width: $tablet), (max-height: $phone) {
    width: 48%;
    &.active {
      background-color: $middle_color;
    }
  }
}

.service-list_wrap {
  margin: 0;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}

.vacancies__list__link_all {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  max-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #ff5466;

    @media (max-width: $tablet) {
      color: #ffffff;
    }
  }

  &.active {
    @media (max-width: $tablet) {
      background-color: $middle_color;
    }
  }

  @media (max-width: $tablet), (max-height: $phone)  {
    padding: 0.3em 0em;
    font-size: 24px;
    line-height: 28px;

    max-height: unset;
    overflow: unset;
    text-overflow: unset;
    text-align: center;
    white-space: unset;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    @include btn_hover;
  }

  @media (max-width: $small_tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: $small_phone) {
    font-size: 18px;
    line-height: 24px;
  }

  $offset: -6px;
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 60%;
    left: $offset;
    width: 0;
    height: 55%;

    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &:hover:before {
    width: calc(100% + #{$offset} + 55px);
    height: 70%;

    background: #f31526;
    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &.active:before {
    width: calc(100% + #{$offset} + 55px);
    height: 70%;
    background: #f31526;
    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.vacancies__popup.active.success .success-popup {
  padding: 40px;
  height: fit-content;
  overflow: hidden;

  @media (max-width: $small_tablet) {
    width: 75%;
  }

  @media (max-width: $phone) {
    width: 80%;
  }

  @media (max-width: $small_phone) {
    width: 90%;
  }
}


.vacancies__list__link {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  max-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: #ff5466;

    @media (max-width: $tablet) {
        color: #ffffff;
    }
  }

  &.active {
    @media (max-width: $tablet) {
      background-color: $middle_color;
    }
  }

  @media (max-width: $tablet), (max-height: $phone)  {
    padding: 0.3em 0em;
    font-size: 24px;
    line-height: 28px;

    max-height: unset;
    overflow: unset;
    text-overflow: unset;
    text-align: center;
    white-space: unset;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    @include btn_hover;
  }

  @media (max-width: $small_tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (max-width: $small_phone) {
    font-size: 18px;
    line-height: 24px;
  }


  $offset: -6px;
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 60%;
    left: $offset;
    width: 0;
    height: 55%;

    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &:hover:before {
    width: calc(100% + #{$offset} + 55px);
    height: 55%;

    background: #f31526;
    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }
  &.active:before {
    width: calc(100% + #{$offset} + 55px);
    height: 55%;
    background: #f31526;
    z-index: -1;
    transition: $transition;
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.service-description__list {

  .vacancies__description__content__parent {
    &.active {
      display: flex;
    }

    &.none {
      display: none;
    }

    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: unset;
    border: 1px solid #FFFFFF;
    padding: 30px;

    @media (max-width: $tablet){
      flex-direction: column;
    }

    @media (max-width: $phone){
      padding: 20px 15px;
    }

    @media (max-width: $small_phone){
      padding: 15px;
    }

    .vacancies__description__content__wrap {
      width: 60%;

      @media (max-width: $pc-big){
        width: 70%;
      }

      @media (max-width: $tablet){
        width: 100%;
      }

      h4 {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: white;

        @media (max-width: $pc){
          font-size: 22px;
          line-height: 26px;
        }

        @media (max-width: $small_phone){
          font-size: 20px;
          line-height: 24px;
        }
      }

      ul {

        @media (max-width: $small_phone){
            padding-left: 15px;
        }

        li {
          font-family: "Cuprum";
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          text-transform: initial;
          color: #ffffff;

          @media (max-width: $pc){
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    .vacancies__description__content_button {

      margin-left: 40px;

      @media (max-width: $pc-big) {
        margin-left: 20px;
      }

      @media (max-width: $tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
      }

      button {
        font-family: 'Bebas Neue';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        background: rgba(243,21,38,.8);
        max-width: 290px;
        width: 100vh;
        height: 56px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #f31526;
        }

        @media (max-width: $pc-big){
          max-width: 250px;
          height: 50px;
        }

        @media (max-width: $pc){
          max-width: 220px;
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  .vacancies__description__wrap {
    p {
      font-family: "Cuprum";
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-transform: initial;
      color: #ffffff;

      @media (max-width: $pc){
        font-size: 18px;
        line-height: 22px;
      }

    }

    div {
      font-family: "Cuprum";
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: initial;
      color: #ffffff;
      margin: 20px 0;

      @media (max-width: $pc){
        font-size: 22px;
        line-height: 26px;
        margin: 15px 0;
      }

      @media (max-width: $tablet){
        margin: 12px 0;
      }
    }

    ul {

      @media (max-width: $small_phone){
        padding-left: 15px;
      }

      li {
        font-family: "Cuprum";
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        text-transform: initial;
        color: #ffffff;

        @media (max-width: $pc){
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .vacancies__background {
      background: unset;

    }
  }
}

.input__file-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  .input__file-icon-wrapper {
    margin-right: 12px;
  }

  .input__file-button-text {
    font-family: "Cuprum";
    font-weight: 400;
    font-size: 20px;
  }
}

.vacancies__popup {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: $transition;
  overflow: hidden;
  opacity: 0;
  &.active {
    display: block;
    left: 0;
    transition: $transition;
    opacity: 1;
    z-index: 5;

    & .personal-popup__text {
      display: block;
    }
    & .personal-popup.active {
      z-index: 1;
    }
  }


  & .contact-form {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    @media (max-width: $phone), (max-height: $phone) {
      max-height: initial;
      height: 100%;
      max-width: unset;
      width: 100%;
      margin: 0;
      justify-content: flex-start;
    }
    @media (max-width: $phone) and (orientation: portrait) {
      padding-top: 35%;
    }
    @media (max-height: $phone) and (orientation: landscape) {
      justify-content: space-between;
    }
  }
  & .personal-popup {
    z-index: -4;
  }
}

.vacancies__popup.active .contact-form {
  opacity: 1;
}
.vacancies__popup.active.success .contact-form {
  opacity: 0;
}
.vacancies__popup .contact-form {
  opacity: 0;
}

.input__wrapper {
  margin-bottom: 20px;

  @media (max-width: $phone) {
    margin-bottom: 15px;
  }
}


// Форма обратная связь на детальном

.case__detail__form {
  background-color: #FFFFFF;
  margin-top: 122px;
  width: 100%;
  padding: 50px;

  @media (max-width: $pc-big) {
    padding: 30px
  }

  .case__detail__form__wrap__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .case__detail__form__title {
      font-family: 'Bebas Neue';
      font-weight: 700;
      font-size: 48px;
      color: #000000;
      padding-top: 10px;
      align-items: center;

      @media (max-width: $pc-big) {
        padding-top: 10px;
        font-size: 38px;
      }

      @media (max-width: $pc) {
        font-size: 32px;
        padding-top: 0;
      }
    }

    .case__detail__form__text {
      font-family: 'Cuprum';
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: #595959;
      align-items: center;
      text-transform: initial;
      padding-top: 10px;

      @media (max-width: $pc-big) {
        font-size: 20px;
        line-height: 26px;
      }

      @media (max-width: $small_tablet) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .case__detail__form__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      margin-top: 35px;

      @media (max-width: $pc-big) {
        margin-top: 25px;
      }

      @media (max-width: $pc) {
        margin-top: 15px;
      }

      @media (max-width: $tablet) {
        width: 90%;
      }

      @media (max-width: $small_tablet) {
        width: 100%;
      }

      .cases__detail__form__wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width: $tablet) {
          flex-direction: column;
        }

        .case__submit {
          font-family: 'Bebas Neue';
          font-weight: bold;
          font-size: 36px;
          border: none;
          height: 85px;
          width: 270px;
          margin-top: 0;
          color: #FFFFFF;
          cursor: pointer;
          background: linear-gradient(0deg, #F31526, #F31526), linear-gradient(180deg, #F31526 0%, #A0000C 100%);
          border-radius: 2px;

          @media (max-width: $pc-big) {
            width: 29%;
            font-size: 30px;
            height: 75px;
          }

          @media (max-width: $pc) {
            font-size: 26px;
            height: 70px;
          }

          @media (max-width: $tablet) {
            width: 100%;
          }

          @media (max-width: $small_tablet) {
            height: 65px;
          }

          @media (max-width: $phone) {
            height: 50px;
            font-size: 22px;
          }
        }

        .case__input {
          font-family: 'Cuprum';
          font-weight: 400;
          font-size: 16px;
          position: relative;
          height: 85px;
          background: #F2F6FA;
          border-radius: 2px;


          @media (max-width: $pc-big) {
            height: 75px;
          }


          @media (max-width: $pc) {
            height: 70px;
          }


          @media (max-width: $small_tablet) {
            height: 65px;
          }

          @media (max-width: $phone) {
            height: 50px;
          }


          svg {
            position: absolute;
            left: 30px;
            top: 42%;

            @media (max-width: $pc-big) {
              left: 20px;
            }

            @media (max-width: $pc) {
              left: 15px;
            }
          }
        }

        .case__input__email {
          width: 370px;

          @media (max-width: $pc-big) {
            width: 36%;
          }

          @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            color: #AAAAAA;
            background: #F2F6FA;
            border-radius: 2px;
            padding-left: 60px;

            &::-webkit-input-placeholder {
              color:#AAAAAA;
            }

            &::-moz-placeholder {
              color:#AAAAAA;
            }

            &::-moz-placeholder {
              color: #AAAAAA;
            }

            &::placeholder {
              color: #AAAAAA;
            }

            @media (max-width: $pc-big) {
              padding-left: 45px;
            }

            @media (max-width: $pc) {
              padding-left: 40px;
            }
          }
        }

        .case__input__tel {
          width: 270px;

          @media (max-width: $pc-big) {
            width: 29%;
          }

          @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 20px;
          }

          input {
            width: 100%;
            height: 100%;
            border: none;
            color: #AAAAAA;
            background: #F2F6FA;
            border-radius: 2px;
            padding-left: 60px;

            &::-webkit-input-placeholder {
              color:#AAAAAA;
            }

            &::-moz-placeholder {
              color:#AAAAAA;
            }

            &::-moz-placeholder {
              color: #AAAAAA;
            }
            &::placeholder {
              color: #AAAAAA;
            }

            @media (max-width: $pc-big) {
              padding-left: 45px;
            }

            @media (max-width: $pc) {
              padding-left: 40px;
            }
          }
        }
      }

      .case__detail__politics {
        display: flex;
        flex-direction: row;
        margin-top: 25px;

        @media (max-width: $pc-big) {
          margin-top: 15px;
        }

        .case__detail__politics_wrap {
          font-family: 'Cuprum';
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: #7E868E;
          text-transform: initial;
          padding-left: 4px;

          .case__detail__politics__agree {
            color: #000000;
          }
        }
      }
    }
  }
}
/*
=====
CORE STYLES
=====
*/

.toggle{
  --uiToggleSize: var(--toggleSize, 1.25rem);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 1px);
  --uiToggleColor: var(--toggleColor, #F31526);

  display: var(--toggleDisplay, inline-flex);
  position: relative;
}

.toggle__input{
  /*
  The pattern by Sara Soueidan https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
  */
  width: var(--uiToggleSize);
  height: var(--uiToggleSize);
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

/*
1. Calculation of the gap for the custom checkbox
*/

.toggle__label{
  display: inline-flex;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--toggleIndent, .4em));
}

.toggle__input:not(:disabled) ~ .toggle__label{
  cursor: pointer;
}

/*
1. Ems helps to calculate size of the checkbox
*/

.toggle__label::after{
  content: "";
  box-sizing: border-box;
  width: 0.9em;
  height: 0.9em;
  font-size: var(--uiToggleSize); /* 1 */

  background-color: transparent;
  border: 1px solid #7E868E;;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.toggle__input:checked ~ .toggle__label::after{
  background-color: var(--uiToggleColor);
}

.toggle__text{
  margin-top: auto;
  margin-bottom: auto;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle

1. Ems helps to calculate size and position of the arrow
*/

.toggle__label::before{
  content: "";
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize); /* 1 */

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--toggleArrowColor, #fff);

  position: absolute;
  top: .5em;
  left: .2em;
  z-index: 3;

  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
}

.toggle__input:checked ~ .toggle__label::before{
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2.2px);

  width: .9em;
  height: .25em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
}

/* disabled state */

.toggle__input:disabled ~ .toggle__label{
  opacity: var(--toggleOpacityDisabled, .24);
  cursor: var(--toggleCursorDisabled, not-allowed);
  user-select: none;
}

/*
=====
PRESENTATION STYLES
=====
*/

/*
The demo skin
*/

.toggle__label::after{
  border-radius: var(--toggleBorderRadius, 2px);
}

/*
The animation of switching states
*/

.toggle__input:not(:disabled) ~ .toggle__label::before{
  will-change: width, height;
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label::before{
  opacity: 1;
  transition: opacity .1s ease-out .25s, width .1s ease-out .5s, height .2s ease-out .3s;
}

.toggle__input:not(:disabled) ~ .toggle__label::after{
  will-change: background-color;
  transition: background-color .2s ease-out;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
  --toggleColor: #690e90;
  --toggleOutlineColorFocus: #690e90;
  --toggleSize: 2rem;
}



