//display size
$pc-big: 1440px;
$pc: 1200px;
$tablet: 991px;
$small_tablet: 767px;
$phone: 575px;
$small_phone: 468px;
$phone-height: 400px;

//404.html
$phone-height_small_portrait: 550px;

//command.html
$head-mobile-width: 450px;
$photo_column-direction: 730px;
$photo_row-direction_height: 650px;
//contacts
$contact-info_height: 900px;
$contact-info_height-small: 700px;
$application-height_media: 775px;
$application-width_media: 576px;
//service
$service-height_tablet: 750px;
$service-height_tablet-medium: 630px;
$service-height_tablet-small: 460px;

// grid-value
$grid_value: 8px;

//burger-but-size
$burger_size: 68px;
$burger_line: 24px;

// color
$ligh_color: #FFFFFF;
$middle_color:#F31526;
$dark_color: #000000;
 
// transition-settings
$transition: 0.4s all;
$command_effect: 0.6s cubic-bezier(.86,.01,.44,1)    ;